@model ZarzadzaniePrzedsiebiorstwem.Model.Authentication.User

@Html.Partial("~/Views/PartialVertical.cshtml", Model)

<section class="section">
	<div class="grid-container">
		<div class="grid-item">
			<p class="header-info">
				Sprawozdania Finansowe
			</p>
		</div>
		<div class="columns">
			<div class="grid-item">
				<div class="column">
					<p class="header-info" style="font-weight: 700; font-size: 26px;">Rachunek Zysków I Strat</p>
					<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th class="align-middle">Lp.</th>
								<th class="align-middle">Okres Rozliczeniowy</th>
								<th class="align-middle">Zysk Netto</th>
								<th class="align-middle">Szczegóły</th>
							</tr>
						</thead>
						<tbody>
							@{
								foreach (var rachunek in Model.RachunkiZyskowIStrat) {
									var DataPoczatkowa = rachunek.DataPoczatkowa.ToString("yyyy-MM-dd");
									var DataKoncowa = rachunek.DataKoncowa.ToString("yyyy-MM-dd");
									<tr>
										<td class="align-middle">@rachunek.Id</td>
										<td class="align-middle">@rachunek.DataPoczatkowa.ToString("yyyy-MM-dd") - @rachunek.DataKoncowa.ToString("yyyy-MM-dd")</td>
										<td class="align-middle">@rachunek.ZyskStrataNetto</td>
										<td class="align-middle">
											<a asp-controller="Finanse" asp-action="WyswietlRachunekZyskowIStrat" asp-route-id="@rachunek.Id">
												<button class="btn button is-primary">Wyświetl</button>
											</a>
											<a asp-controller="Finanse" asp-action="UsunRachunekZyskowIStrat" asp-route-id="@rachunek.Id">
												<button class="btn button is-danger">Usuń</button>
											</a>
										</td>
									</tr>
								}
							}
							<tr>
								<td colspan="4" class="text-center">
									<a asp-controller="Finanse" asp-action="DodajRachunekZyskowIStrat" asp-route-id="@Model.Id">
										<button class="btn button is-info">Dodaj Nowe Sprawozdanie</button>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="grid-item">
				<div class="column">
					<p class="header-info" style="font-weight: 700; font-size: 26px;">Bilans</p>
					<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th class="align-middle">Lp.</th>
								<th class="align-middle">Okres Rozliczeniowy</th>
								<th class="align-middle">Zysk Netto</th>
								<th class="align-middle">Szczegóły</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="align-middle">1</td>
								<td class="align-middle">2023-10-09</td>
								<td class="align-middle">1000.00</td>
								<td class="align-middle"><button class="btn button is-primary">Wyświetl Sprawozdanie</button></td>
							</tr>
							<tr>
								<td class="align-middle">1</td>
								<td class="align-middle">2023-10-09</td>
								<td class="align-middle">1000.00</td>
								<td class="align-middle"><button class="btn button is-primary">Wyświetl Sprawozdanie</button></td>
							</tr>
							<tr>
								<td colspan="4" class="text-center">
									<a asp-controller="Finanse" asp-action="DodajBilans" asp-route-id="@Model.Id">
										<button class="btn button is-info">Dodaj Nowe Sprawozdanie</button>
									</a>
								</td>
							</tr>
						</tbody>
						</table>
				</div>
			</div>
		</div>
	</div>
</section>

<link rel="stylesheet" href="~/css/WyswietlRozliczenia.css" />