@model ZarzadzaniePrzedsiebiorstwem.Model.DataModels.SprawozdaniaFinansowe.RachunekZyskowIStrat
@inject ZarzadzaniePrzedsiebiorstwem.DAL.EF.MyDbContext _myDbContext

@Html.Partial("~/Views/PartialVertical.cshtml", Model.User);

<section class="section">
    <div class="grid-container">
        <div class="grid-item">
            @{
                foreach (var item in _myDbContext.Przedsiebiorstwo) {
                    if (Model.UserId == item.Id) {
                        <p>@item.NazwaPelna</p>
                        <p>@item.daneAdresowe @item.Wojewodztwo</p>
                        <p>NIP:@item.NIP</p>
                    }
                }
            }
        </div>
        <div class="grid-item">
            <p class="header-info">
                Rachunek Zysków I Strat
                <br />
                wariant porównawczy za okres od <input id="DataPoczatkowa" type="datetime-local" disabled /> do <input id="DataKoncowa" type="datetime-local" disabled />
            </p>
        </div>
        <div id="grid-items-main" class="grid-item">
            <table class="table">
                <thead>
                    <tr>
                        <th>Indeks</th>
                        <th>Wyszczególnienie</th>
                        <th>Wartość (w zł)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="index-column" rowspan="5">A</td>
                        <td style="background-color: grey;"><strong>Przychody netto ze sprzedaży</strong></td>
                        <td><input id="indexA0" type="text" class="form-control" value="@Model.PrzychodyNettoZeSprzedazy" disabled /></td>
                    </tr>
                    <tr>
                        <td>I. Przychody netto ze sprzedaży produktów</td>
                        <td><input id="indexA1" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>II. Zmiana stanu produktów (+/-)</td>
                        <td><input id="indexA2" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>III. Koszt wytworzenia produktów na własne potrzeby jednostki</td>
                        <td><input id="indexA3" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>IV. Przychody netto ze sprzedaży towarów i materiałów</td>
                        <td><input id="indexA4" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td class="index-column" rowspan="9">B</td>
                        <td style="background-color: grey;"><strong>Koszty działalności operacyjnej</strong></td>
                        <td><input id="indexB0" type="text" class="form-control" disabled /></td>
                    </tr>
                    <tr>
                        <td>I. Amortyzacja</td>
                        <td><input id="indexB1" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>II. Zużycie materiałów i energii</td>
                        <td><input id="indexB2" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>III. Usługi obce</td>
                        <td><input id="indexB3" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>IV. Podatki i opłaty</td>
                        <td><input id="indexB4" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>V. Wynagrodzenia</td>
                        <td><input id="indexB5" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>VI. Ubezpieczenia społeczne i inne świadczenia</td>
                        <td><input id="indexB6" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>VII. Pozostałe koszty rodzajowe</td>
                        <td><input id="indexB7" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>VIII. Wartość sprzedanych towarów i materiałów</td>
                        <td><input id="indexB8" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td class="index-column" rowspan="1">C</td>
                        <td style="background-color: grey;"><strong>Zysk (strata) ze sprzedaży (A-B) </strong></td>
                        <td><input id="indexC0" type="text" class="form-control" disabled /></td>
                    </tr>
                    <tr>
                        <td class="index-column" rowspan="5">D</td>
                        <td style="background-color: grey;"><strong>Pozostałe przychody operacyjne</strong></td>
                        <td><input id="indexD0" type="text" class="form-control" disabled /></td>
                    </tr>
                    <tr>
                        <td>I. Zysk z tytułu rozchodu niefinansowych aktywów trwałych</td>
                        <td><input id="indexD1" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>II. Dotacje</td>
                        <td><input id="indexD2" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>III. Aktualizacja wartości aktywów niefinansowych</td>
                        <td><input id="indexD3" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>IV. Inne przychody operacyjne</td>
                        <td><input id="indexD4" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td class="index-column" rowspan="4">E</td>
                        <td style="background-color: grey;"><strong>Pozostałe koszty operacyjne</strong></td>
                        <td><input id="indexE0" type="text" class="form-control" disabled /></td>
                    </tr>
                    <tr>
                        <td>I. Strata z tytułu rozchodu niefinansowych aktywów trwałych</td>
                        <td><input id="indexE1" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>II. Aktualizacja wartości aktywów niefinansowych</td>
                        <td><input id="indexE2" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>III. Inne koszty operacyjne</td>
                        <td><input id="indexE3" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td class="index-column" rowspan="1">F</td>
                        <td style="background-color: grey;"><strong>Zysk (strata) z działalności operacyjnej (C+D-E)</strong></td>
                        <td><input id="indexF0" type="text" class="form-control" disabled /></td>
                    </tr>
                    <tr>
                        <td class="index-column" rowspan="6">G</td>
                        <td style="background-color: grey;"><strong>Przychody finansowe</strong></td>
                        <td><input id="indexG0" type="text" class="form-control" disabled /></td>
                    </tr>
                    <tr>
                        <td>I. Dywidendy i udziały w zyskach</td>
                        <td><input id="indexG1" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>II. Odsetki</td>
                        <td><input id="indexG2" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>III. Zysk z tytułu rozchodu aktywów finansowych</td>
                        <td><input id="indexG3" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>IV. Aktualizacja wartości aktywów finansowych</td>
                        <td><input id="indexG4" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>V. Inne</td>
                        <td><input id="indexG5" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td class="index-column" rowspan="5">H</td>
                        <td style="background-color: grey;"><strong>Koszty finansowe</strong></td>
                        <td><input id="indexH0" type="text" class="form-control" disabled /></td>
                    </tr>
                    <tr>
                        <td>I. Odsetki</td>
                        <td><input id="indexH1" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>II. Strata z tytułu rozchodu aktywów finansowych</td>
                        <td><input id="indexH2" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>III. Aktualizacja wartości aktywów finansowych</td>
                        <td><input id="indexH3" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>IV. Inne</td>
                        <td><input id="indexH4" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td class="index-column" rowspan="1">I</td>
                        <td style="background-color: grey;"><strong>Zysk (strata) brutto (F+G-H)</strong></td>
                        <td><input id="indexI0" type="text" class="form-control" disabled /></td>
                    </tr>
                    <tr>
                        <td class="index-column" rowspan="1">J</td>
                        <td style="background-color: grey;"><strong>Podatek dochodowy</strong></td>
                        <td><input id="indexJ0" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td class="index-column" rowspan="1">K</td>
                        <td style="background-color: grey;"><strong>Pozostałe obowiązkowe zmniejszenia zysku (zwiększenia straty)</strong></td>
                        <td><input id="indexK0" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td class="index-column" rowspan="1">L</td>
                        <td style="background-color: grey;"><strong>Zysk (strata) netto (I-J-K)</strong></td>
                        <td><input id="indexL0" type="text" class="form-control" disabled /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><button onclick="CreateDynamicForm();" id="submit" class="btn button is-primary form-control">Zapisz Sprawozdanie</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<script>
    var myData = @Html.Raw(Json.Serialize(Model));
</script>

<link rel="stylesheet" href="~/css/DodajRachunekZyskowIStrat.css" />
<script src="~/js/WyswietlRachunekZyskowIStrat.js"></script>