@model ZarzadzaniePrzedsiebiorstwem.Model.Authentication.User
@inject ZarzadzaniePrzedsiebiorstwem.DAL.EF.MyDbContext _myDbContext

@Html.Partial("~/Views/PartialVertical.cshtml", Model)

<style>
    .radio-block input[type="radio"] {
        margin-right: 8px;
    }

    .radio-block label {
        display: block;
        margin-bottom: 8px;
        border: 1px solid #ccc;
        padding: 8px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

        .radio-block label:hover {
            background-color: #f0f0f0;
        }

    .radio-block input[type="radio"]:checked + label {
        background-color: #3D5AFE;
        color: #fff;
    }

    .radio-block input[type="radio"] {
        display: none;
    }

    .radio-block label {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 8px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        display: inline-block;
        margin: 5px;
    }

        .radio-block label:hover {
            background-color: #f0f0f0;
        }

    .radio-block input[type="radio"]:checked + label {
        background-color: #3D5AFE;
        color: #fff;
    }

    .custom-box {
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        background-color: rgba(255, 255, 255, 0.7); /* Przeźroczyste tło */
        padding: 20px;
        margin-bottom: 20px;
    }

    .custom-button-container {
        display: flex;
        justify-content: center;
    }

    .submit-button {
        margin-top: 20px;
    }
    
    .chart-button {
        margin: 10px;
    }

</style>

<script>
    var kontekst = "base";
    var analiza = {
        wskaznikPlynnosciBiezacejUbiegly: null,
        wskaznikPlynnosciSzybkiejUbiegly: null,
        wskaznikPlynnosciGotowkowejUbiegly: null,

        wskaznikPlynnosciBiezacejBiezacy: null,
        wskaznikPlynnosciSzybkiejBiezacy: null,
        wskaznikPlynnosciGotowkowejBiezacy: null,

        wskaznikRentownosciSprzedazyUbiegly: null,
        wskaznikRentownosciNettoSprzedazyUbiegly: null,
        wskaznikRentownosciNettoKapitaluWlasnegoUbiegly: null,

        wskaznikRentownosciSprzedazyBiezacy: null,
        wskaznikRentownosciNettoSprzedazyBiezacy: null,
        wskaznikRentownosciNettoKapitaluWlasnegoBiezacy: null,

        wskaznikOgolnegoZadluzeniaUbiegly: null,
        wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatakuUbiegly: null,
        wskaznikZadluzeniaKapitaluWlasnegoUbiegly: null,

        wskaznikOgolnegoZadluzeniaBiezacy: null,
        wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatakuBiezacy: null,
        wskaznikZadluzeniaKapitaluWlasnegoBiezacy: null
    };
</script>

<div class="container mt-4"> 
    <div class="custom-box">
        <h1 class="title is-2 has-text-centered mb-4">Analiza finansowa</h1>
        <div class="columns">
            <div class="column">
            <div class="box p-4">
                <h2 class="title is-4 mb-4">Wybierz rodzaj analizy oraz okres sprawozdawczy</h2>
                <div class="panel">
                    <div class="panel-block">
                        <input type="radio" name="typAnalizy" id="plynnosc" value="Analiza płynności finansowej">
                        <label for="plynnosc">Analiza płynności finansowej</label>
                    </div>
                    <div class="panel-block">
                        <input type="radio" name="typAnalizy" id="rentownosc" value="Analiza rentowności">
                        <label for="rentownosc">Analiza rentowności</label>
                    </div>
                    <div class="panel-block">
                        <input type="radio" name="typAnalizy" id="zadluzenie" value="Analiza zadłużenia">
                        <label for="zadluzenie">Analiza zadłużenia</label>
                    </div>
                    <div class="panel-block">
                        <input type="radio" name="typAnalizy" id="zbiorcze" value="Uproszczone zestawienie zbiorcze wskaźników" />
                        <label for="zbiorcze">Uproszczone zestawienie zbiorcze wskaźników</label>
                    </div>

                    <div class="panel-block mt-4">
                        <h3>Okres początkowy</h3>
                        <h4>Dla Bilansu</h4>
                        <div class="radio-block">
                            @foreach (var bilans in Model.Bilans) {
                                <input type="radio" name="okresPoczatkowyBilans" id="bilansPoczatkowy@(bilans.Id)" value="@bilans.OkresRozliczeniowy.ToString("yyyy-MM-dd")">
                                <label for="bilansPoczatkowy@(bilans.Id)">@bilans.OkresRozliczeniowy.ToString("yyyy-MM-dd")</label>
                            }
                        </div>
                    </div>
                    <div class="panel-block">
                        <h4>Dla Rachunku Zysków i Strat</h4>
                        <div class="radio-block">
                            @foreach (var rachunek in Model.RachunkiZyskowIStrat) {
                                <input type="radio" name="okresPoczatkowyRachunek" id="rachunekPoczatkowy@(rachunek.Id)" value="@rachunek.OkresRozliczeniowy.ToString("yyyy-MM-dd")">
                                <label for="rachunekPoczatkowy@(rachunek.Id)">@rachunek.OkresRozliczeniowy.ToString("yyyy-MM-dd")</label>
                            }
                        </div>
                    </div>

                    <div class="panel-block mt-4">
                        <h3>Okres końcowy</h3>
                        <h4>Dla Bilansu</h4>
                        <div class="radio-block">
                            @foreach (var bilans in Model.Bilans) {
                                <input type="radio" name="okresKoncowyBilans" id="bilansKoncowy@(bilans.Id)" value="@bilans.OkresRozliczeniowy.ToString("yyyy-MM-dd")">
                                <label for="bilansKoncowy@(bilans.Id)">@bilans.OkresRozliczeniowy.ToString("yyyy-MM-dd")</label>
                            }
                        </div>
                    </div>
                    <div class="panel-block">
                        <h4>Dla Rachunku Zysków i Strat</h4>
                        <div class="radio-block">
                            @foreach (var rachunek in Model.RachunkiZyskowIStrat) {
                                <input type="radio" name="okresKoncowyRachunek" id="rachunekKoncowy@(rachunek.Id)" value="@rachunek.OkresRozliczeniowy.ToString("yyyy-MM-dd")">
                                <label for="rachunekKoncowy@(rachunek.Id)">@rachunek.OkresRozliczeniowy.ToString("yyyy-MM-dd")</label>
                            }
                        </div>
                    </div>
                        <div class="custom-button-container">
                            <button id="submit-button" class="submit-button btn button is-primary">Zatwierdź zmiany</button>
                        </div>
                </div>
            </div>
        </div>

        <!-- Twój dotychczasowy kod -->
    </div>
    <div class="charts-section" style="display: none;">
            <div class="chart-buttons">

            </div>

    </div>

    <!-- Twój dotychczasowy kod -->
</div>
</div>

<script>
    var myData = @Html.Raw(Json.Serialize(Model));

    function renderCharts(wybranaAnaliza, wybranyOkresPoczatkowy, wybranyOkresKoncowy, bilansUbiegly, bilansBiezacy, wskaznikUbiegly, wskaznikBiezacy, suggestedMin, suggestedMax) {
        var chartsContext = document.createElement('canvas');
        chartsContext.id = "canvas";
        document.querySelector('.charts-section').appendChild(chartsContext);

        const chartData = {
            labels: [wybranyOkresPoczatkowy.slice(0, 10), wybranyOkresKoncowy.slice(0, 10)],
            datasets: [{
                label: wybranaAnaliza,
                data: [wskaznikUbiegly, wskaznikBiezacy],
                borderColor: 'rgba(75, 192, 192, 1)',
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderWidth: 1
            }]
        };

        const myChart = new Chart(chartsContext, {
            type: 'bar',
            data: chartData,
            options: {
                scales: {
                    y: {
                        suggestedMin: suggestedMin,
                        suggestedMax: suggestedMax
                    }
                }
            }
        });

        // Pokaż sekcję z wykresami
        document.querySelector('.charts-section').style.display = 'block';
    }

    function FiltrujPoDacie(data, rozliczenie) {
        if (rozliczenie == "bilans") {
            console.log('Bilans:', myData.bilans); 
            if (myData.bilans) {
                console.log('Length of bilans:', myData.bilans.length); 
            }
            return myData.bilans ? myData.bilans.filter((bilans) => bilans.okresRozliczeniowy.slice(0, 10) === data) : [];
        } else if (rozliczenie == "rachunek") {
            console.log('Rachunek:', myData.rachunekZyskowIStrat); 
            if (myData.rachunekZyskowIStrat) {
                console.log('Length of rachunek:', myData.rachunekZyskowIStrat.length); 
            }
            return myData.rachunkiZyskowIStrat ? myData.rachunkiZyskowIStrat.filter((rachunek) => rachunek.okresRozliczeniowy.slice(0, 10) === data) : [];
        }
    }

    function ObliczWskaznikPlynnosciBiezacej(bilans) {
        return bilans[0].aktywaObrotowe / bilans[0].zobowiazaniaKrotkoterminowe;
    }

    function ObliczWskaznikPlynnosciSzybkiej(bilans) {
        return (bilans[0].naleznosciKrotkoterminowe + bilans[0].inwestycjeKrotkoterminowe) / bilans[0].zobowiazaniaKrotkoterminowe;
    }

    function ObliczWskaznikPlynnosciGotowkowej(bilans) {
        return bilans[0].inwestycjeKrotkoterminowe / bilans[0].zobowiazaniaKrotkoterminowe;
    }

    function ObliczWskaznikRentownosciSprzedazy(rachunek) {
        return rachunek[0].zyskStrataZeSprzedazy / rachunek[0].przychodyNettoZeSprzedazy;
    }

    function ObliczWskaznikRentownosciNettoSprzedazy(rachunek) {
        return rachunek[0].zyskStrataNetto / (rachunek[0].przychodyNettoZeSprzedazyProduktow + rachunek[0].przychodyNettoZeSprzedazyTowarowIMaterialow + rachunek[0].pozostalePrzychodyOperacyjne + rachunek[0].przychodyFinansowe)
    }

    function ObliczWskaznikRentownosciNettoKapitaluWlasnego(rachunek, bilans) {
        return rachunek[0].zyskStrataNetto / bilans[0].kapitalFunduszWlasny;
    }

    function ObliczWskaznikOgolnegoZadluzenia(bilans) {
        return bilans[0].zobowiazaniaIRezerwyNaZobowiazania / bilans[0].sumaBilansowaAktywow;
    }

    function ObliczWskaznikUdzialuKapitalowWlasnychWFinansowaniuMajataku(bilans) {
        return bilans[0].kapitalFunduszWlasny / bilans[0].sumaBilansowaAktywow;
    }

    function ObliczWskaznikZadluzeniaKapitaluWlasnego(bilans) {
		return bilans[0].zobowiazaniaIRezerwyNaZobowiazania / bilans[0].kapitalFunduszWlasny;
	}

    function GenerujSprawozdanie() {
        var wybranaAnaliza = document.querySelector('input[name="typAnalizy"]:checked').value;
        console.log(wybranaAnaliza);
        switch (wybranaAnaliza) {
            case "Analiza płynności finansowej": {
                GenerujPrzyciski(wybranaAnaliza);
                wybranaAnaliza = "Wskaźnik płynności bieżącej";
                var wybranyOkresPoczatkowy = document.querySelector('input[name="okresPoczatkowyBilans"]:checked').value;
                var wybranyOkresKoncowy = document.querySelector('input[name="okresKoncowyBilans"]:checked').value;

                const bilansUbiegly = FiltrujPoDacie(wybranyOkresPoczatkowy, "bilans");
                const bilansBiezacy = FiltrujPoDacie(wybranyOkresKoncowy, "bilans");
                switch (kontekst) {
                    case "base": {
                        WyzerujWykres();
                        const wskaznikUbiegly = ObliczWskaznikPlynnosciBiezacej(bilansUbiegly);
                        const wskaznikBiezacy = ObliczWskaznikPlynnosciBiezacej(bilansBiezacy);
                        analiza.wskaznikPlynnosciBiezacejUbiegly = wskaznikUbiegly;
                        analiza.wskaznikPlynnosciBiezacejBiezacy = wskaznikBiezacy;

                        var suggestedMin = 0;
                        var suggestedMax = 4;
                        renderCharts("Wskaźnik płynności bieżącej", wybranyOkresPoczatkowy, wybranyOkresKoncowy, bilansUbiegly, bilansBiezacy, wskaznikUbiegly, wskaznikBiezacy, suggestedMin, suggestedMax);
                    }
                        break;
                    case "wskaznikPlynnosciSzybkiej": {
                        WyzerujWykres();
                        const wskaznikUbiegly = ObliczWskaznikPlynnosciSzybkiej(bilansUbiegly);
                        const wskaznikBiezacy = ObliczWskaznikPlynnosciSzybkiej(bilansBiezacy);
                        analiza.wskaznikPlynnosciSzybkiejUbiegly = wskaznikUbiegly;
                        analiza.wskaznikPlynnosciSzybkiejBiezacy = wskaznikBiezacy;

                        var suggestedMin = 0;
                        var suggestedMax = 4;
                        renderCharts("Wskaźnik płynności szybkiej", wybranyOkresPoczatkowy, wybranyOkresKoncowy, bilansUbiegly, bilansBiezacy, wskaznikUbiegly, wskaznikBiezacy, suggestedMin, suggestedMax);
                    }
                        break;
                    case "wskaznikPlynnosciGotowkowej": {
                        WyzerujWykres();
                        const wskaznikUbiegly = ObliczWskaznikPlynnosciGotowkowej(bilansUbiegly);
                        const wskaznikBiezacy = ObliczWskaznikPlynnosciGotowkowej(bilansBiezacy);
                        analiza.wskaznikPlynnosciGotowkowejUbiegly = wskaznikUbiegly;
                        analiza.wskaznikPlynnosciGotowkowejBiezacy = wskaznikBiezacy;

                        var suggestedMin = 0;
                        var suggestedMax = 1;
                        renderCharts("Wskaźnik płynności gotówkowej", wybranyOkresPoczatkowy, wybranyOkresKoncowy, bilansUbiegly, bilansBiezacy, wskaznikUbiegly, wskaznikBiezacy, suggestedMin, suggestedMax);
                    }
                        break;
                }
            }
                break;
            case "Analiza rentowności": {
                GenerujPrzyciski(wybranaAnaliza);
                wybranaAnaliza = "Wskaźnik rentowności sprzedaży";
                var wybranyOkresPoczatkowy = document.querySelector('input[name="okresPoczatkowyRachunek"]:checked').value;
                var wybranyOkresKoncowy = document.querySelector('input[name="okresKoncowyRachunek"]:checked').value;

                const rachunekUbiegly = FiltrujPoDacie(wybranyOkresPoczatkowy, "rachunek");
                const rachunekBiezacy = FiltrujPoDacie(wybranyOkresKoncowy, "rachunek");
                switch (kontekst) {
                    case "base": {
                        WyzerujWykres();
                        const wskaznikUbiegly = ObliczWskaznikRentownosciSprzedazy(rachunekUbiegly);
                        const wskaznikBiezacy = ObliczWskaznikRentownosciSprzedazy(rachunekBiezacy);

                        analiza.wskaznikRentownosciSprzedazyUbiegly = wskaznikUbiegly;
                        analiza.wskaznikRentownosciSprzedazyBiezacy = wskaznikBiezacy;

                        var suggestedMin = 0;
                        var suggestedMax = 1.5;
                        renderCharts("Wskaźnik rentowności sprzedaży", wybranyOkresPoczatkowy, wybranyOkresKoncowy, rachunekUbiegly, rachunekBiezacy, wskaznikUbiegly, wskaznikBiezacy, suggestedMin, suggestedMax);
                    }
                        break;

                    case "wskaznikRentownosciNettoSprzedazy": {
                        WyzerujWykres();
                        const wskaznikUbiegly = ObliczWskaznikRentownosciNettoSprzedazy(rachunekUbiegly);
                        const wskaznikBiezacy = ObliczWskaznikRentownosciNettoSprzedazy(rachunekBiezacy);

                        analiza.wskaznikRentownosciNettoSprzedazyUbiegly = wskaznikUbiegly;
                        analiza.wskaznikRentownosciNettoSprzedazyBiezacy = wskaznikBiezacy;

                        var suggestedMin = 0;
                        var suggestedMax = wskaznikBiezacy + 0.5;
                        renderCharts("Wskaźnik rentowności netto sprzedaży", wybranyOkresPoczatkowy, wybranyOkresKoncowy, rachunekUbiegly, rachunekBiezacy, wskaznikUbiegly, wskaznikBiezacy, suggestedMin, suggestedMax);
                    }
                        break;

                    case "wskaznikRentownosciNettoKapitaluWlasnego": {
                        WyzerujWykres();
                        var wybranyOkresPoczatkowyBilans = document.querySelector('input[name="okresPoczatkowyBilans"]:checked').value;
                        var wybranyOkresKoncowyBilans = document.querySelector('input[name="okresKoncowyBilans"]:checked').value;

                        const bilansUbiegly = FiltrujPoDacie(wybranyOkresPoczatkowyBilans, "bilans");
                        const bilansBiezacy = FiltrujPoDacie(wybranyOkresKoncowyBilans, "bilans");

                        const wskaznikUbiegly = ObliczWskaznikRentownosciNettoKapitaluWlasnego(rachunekUbiegly, bilansUbiegly);
                        const wskaznikBiezacy = ObliczWskaznikRentownosciNettoKapitaluWlasnego(rachunekBiezacy, bilansBiezacy);

                        analiza.wskaznikRentownosciNettoKapitaluWlasnegoUbiegly = wskaznikUbiegly;
                        analiza.wskaznikRentownosciNettoKapitaluWlasnegoBiezacy = wskaznikBiezacy;

                        var suggestedMin = 0;
                        var suggestedMax = wskaznikBiezacy + 0.5;
                        renderCharts("Wskaźnik rentowności netto kapitału własnego", wybranyOkresPoczatkowy, wybranyOkresKoncowy, rachunekUbiegly, rachunekBiezacy, wskaznikUbiegly, wskaznikBiezacy, suggestedMin, suggestedMax);
                    }
                        break;

                }
            }
                break;

            case "Analiza zadłużenia": {
                GenerujPrzyciski(wybranaAnaliza);
                wybranaAnaliza = "Wskaźnik ogólnego zadłużenia";
                console.log(wybranaAnaliza);
                var wybranyOkresPoczatkowy = document.querySelector('input[name="okresPoczatkowyBilans"]:checked').value;
                console.log(wybranyOkresPoczatkowy);
                var wybranyOkresKoncowy = document.querySelector('input[name="okresKoncowyBilans"]:checked').value;
                console.log(wybranyOkresKoncowy);
                const bilansUbiegly = FiltrujPoDacie(wybranyOkresPoczatkowy, "bilans");
                const bilansBiezacy = FiltrujPoDacie(wybranyOkresKoncowy, "bilans");
                console.log(bilansUbiegly);
                console.log(bilansBiezacy);
                console.log(kontekst);
                switch (kontekst) {
                    case "base": {
                        console.log("wewnatrz_base");
                        WyzerujWykres();
                        const wskaznikUbiegly = ObliczWskaznikOgolnegoZadluzenia(bilansUbiegly);
                        const wskaznikBiezacy = ObliczWskaznikOgolnegoZadluzenia(bilansBiezacy);
                        console.log(wskaznikUbiegly);
                        console.log(wskaznikBiezacy);
                        analiza.wskaznikOgolnegoZadluzeniaUbiegly = wskaznikUbiegly;
                        analiza.wskaznikOgolnegoZadluzeniaBiezacy = wskaznikBiezacy;

                        var suggestedMin = 0;
                        
                        var suggestedMax = wskaznikBiezacy + 0.5;
                        
                        renderCharts("Wskaźnik ogólnego zadłużenia", wybranyOkresPoczatkowy, wybranyOkresKoncowy, bilansUbiegly, bilansBiezacy, wskaznikUbiegly, wskaznikBiezacy, suggestedMin, suggestedMax);
                    }
                        break;

                    case "wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatku": {
                        WyzerujWykres();
                        const wskaznikUbiegly = ObliczWskaznikUdzialuKapitalowWlasnychWFinansowaniuMajataku(bilansUbiegly);
                        const wskaznikBiezacy = ObliczWskaznikUdzialuKapitalowWlasnychWFinansowaniuMajataku(bilansBiezacy);

                        analiza.wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatakuUbiegly = wskaznikUbiegly;
                        analiza.wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatakuBiezacy = wskaznikBiezacy;

                        var suggestedMin = 0;
                        if (wskaznikBiezacy > wskaznikUbiegly) {
                            suggestedMax = wskaznikBiezacy + 0.5;
                        } else {
                            suggestedMax = wskaznikUbiegly + 0.5;
                        }
                        renderCharts("Wskaźnik udziału kapitałów własnych w finansowaniu majątku", wybranyOkresPoczatkowy, wybranyOkresKoncowy, bilansUbiegly, bilansBiezacy, wskaznikUbiegly, wskaznikBiezacy, suggestedMin, suggestedMax);

                    }
                        break;
                    case "wskaznikZadluzeniaKapitaluWlasnego": {
                        WyzerujWykres();
                        const wskaznikUbiegly = ObliczWskaznikZadluzeniaKapitaluWlasnego(bilansUbiegly);
                        const wskaznikBiezacy = ObliczWskaznikZadluzeniaKapitaluWlasnego(bilansBiezacy);

                        analiza.wskaznikZadluzeniaKapitaluWlasnegoUbiegly = wskaznikUbiegly;
                        analiza.wskaznikZadluzeniaKapitaluWlasnegoBiezacy = wskaznikBiezacy;

                        var suggestedMin = 0;
                        if (wskaznikBiezacy > wskaznikUbiegly) {
                            suggestedMax = wskaznikBiezacy + 0.5;
                        } else {
                            suggestedMax = wskaznikUbiegly + 0.5;
                        }
                        renderCharts("Wskaźnik zadłużenia kapitału własnego", wybranyOkresPoczatkowy, wybranyOkresKoncowy, bilansUbiegly, bilansBiezacy, wskaznikUbiegly, wskaznikBiezacy, suggestedMin, suggestedMax);
                    }
                        break;
                }
                break;
            }
        }
    }

    function GenerujPrzyciski(wybranaAnaliza) {
        var chartButtons = document.querySelector('.chart-buttons');

        chartButtons.innerHTML = "";

        switch (wybranaAnaliza) {
            case "Analiza płynności finansowej": {
                var wskaznikPlynnosciBiezacejButton = document.createElement('button');
                wskaznikPlynnosciBiezacejButton.classList = "btn button is-info chart-button";
                wskaznikPlynnosciBiezacejButton.innerHTML = "Wskaźnik płynności bieżącej";
                chartButtons.appendChild(wskaznikPlynnosciBiezacejButton);
                wskaznikPlynnosciBiezacejButton.addEventListener('click', function () {
                    kontekst = "base";
                    GenerujSprawozdanie();
                });

                var wskaznikPlynnosciSzybkiejButton = document.createElement('button');
                wskaznikPlynnosciSzybkiejButton.classList = "btn button is-info chart-button";
                wskaznikPlynnosciSzybkiejButton.innerHTML = "Wskaźnik płynności szybkiej";
                chartButtons.appendChild(wskaznikPlynnosciSzybkiejButton);
                wskaznikPlynnosciSzybkiejButton.addEventListener('click', function () {
                    kontekst = "wskaznikPlynnosciSzybkiej";
                    GenerujSprawozdanie();
                });

                var wskaznikPlynnosciGotowkowejButton = document.createElement('button');
                wskaznikPlynnosciGotowkowejButton.classList = "btn button is-info chart-button";
                wskaznikPlynnosciGotowkowejButton.innerHTML = "Wskaźnik płynności gotówkowej";
                chartButtons.appendChild(wskaznikPlynnosciGotowkowejButton);
                wskaznikPlynnosciGotowkowejButton.addEventListener('click', function () {
                    kontekst = "wskaznikPlynnosciGotowkowej";
                    GenerujSprawozdanie();
                });

                var interpretacjaIAnalizaWskaznikowPlynnosciButton = document.createElement('button');
                interpretacjaIAnalizaWskaznikowPlynnosciButton.classList = "btn button is-info chart-button";
                interpretacjaIAnalizaWskaznikowPlynnosciButton.innerHTML = "Interpretacja i analiza wskaźników";
                chartButtons.appendChild(interpretacjaIAnalizaWskaznikowPlynnosciButton);
                interpretacjaIAnalizaWskaznikowPlynnosciButton.addEventListener('click', function () {
                    InterpretujWskaznikiPlynnosci();
                });
            }
                break;

            case "Analiza rentowności": {
                var wskaznikRentownosciSprzedazyButton = document.createElement('button');
                wskaznikRentownosciSprzedazyButton.classList = "btn button is-info chart-button";
                wskaznikRentownosciSprzedazyButton.innerHTML = "Wskaźnik rentowności sprzedaży";
                chartButtons.appendChild(wskaznikRentownosciSprzedazyButton);
                wskaznikRentownosciSprzedazyButton.addEventListener('click', function () {
                    kontekst = "base";
                    GenerujSprawozdanie();
                });

                var wskaznikRentownosciNettoSprzedazyButton = document.createElement('button');
                wskaznikRentownosciNettoSprzedazyButton.classList = "btn button is-info chart-button";
                wskaznikRentownosciNettoSprzedazyButton.innerHTML = "Wskaźnik rentowności netto sprzedaży";
                chartButtons.appendChild(wskaznikRentownosciNettoSprzedazyButton);
                wskaznikRentownosciNettoSprzedazyButton.addEventListener('click', function () {
                    kontekst = "wskaznikRentownosciNettoSprzedazy";
                    GenerujSprawozdanie();
                });

                var wskaznikRentownosciNettoKapitaluWlasnegoButton = document.createElement('button');
                wskaznikRentownosciNettoKapitaluWlasnegoButton.classList = "btn button is-info chart-button";
                wskaznikRentownosciNettoKapitaluWlasnegoButton.innerHTML = "Wskaźnik rentowności netto kapitału własnego";
                chartButtons.appendChild(wskaznikRentownosciNettoKapitaluWlasnegoButton);
                wskaznikRentownosciNettoKapitaluWlasnegoButton.addEventListener('click', function () {
                    kontekst = "wskaznikRentownosciNettoKapitaluWlasnego";
                    GenerujSprawozdanie();
                });

                var interpretacjaIAnalizaWskaznikowRentownosciButton = document.createElement('button');
                interpretacjaIAnalizaWskaznikowRentownosciButton.classList = "btn button is-info chart-button";
                interpretacjaIAnalizaWskaznikowRentownosciButton.innerHTML = "Interpretacja i analiza wskaźników";
                chartButtons.appendChild(interpretacjaIAnalizaWskaznikowRentownosciButton);
                interpretacjaIAnalizaWskaznikowRentownosciButton.addEventListener('click', function () {
					InterpretujWskaznikiRentownosci();
				});
            }
                break;

            case "Analiza zadłużenia": {
                var wskaznikOgolnegoZadluzeniaButton = document.createElement('button');
                wskaznikOgolnegoZadluzeniaButton.classList = "btn button is-info chart-button";
                wskaznikOgolnegoZadluzeniaButton.innerHTML = "Wskaźnik ogólnego zadłużenia";
                chartButtons.appendChild(wskaznikOgolnegoZadluzeniaButton);
                wskaznikOgolnegoZadluzeniaButton.addEventListener('click', function () {
                    kontekst = "base";
                    GenerujSprawozdanie();
                });

                var wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatkuButton = document.createElement('button');
                wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatkuButton.classList = "btn button is-info chart-button";
                wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatkuButton.innerHTML = "Wskaźnik udziału kapitałów własnych w finansowaniu majątku";
                chartButtons.appendChild(wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatkuButton);
                wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatkuButton.addEventListener('click', function () {
                    kontekst = "wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatku";
                    GenerujSprawozdanie();
                });

                var wskaznikZadluzeniaKapitaluWlasnegoButton = document.createElement('button');
                wskaznikZadluzeniaKapitaluWlasnegoButton.classList = "btn button is-info chart-button";
                wskaznikZadluzeniaKapitaluWlasnegoButton.innerHTML = "Wskaźnik zadłużenia kapitału własnego";
                chartButtons.appendChild(wskaznikZadluzeniaKapitaluWlasnegoButton);
                wskaznikZadluzeniaKapitaluWlasnegoButton.addEventListener('click', function () {
					kontekst = "wskaznikZadluzeniaKapitaluWlasnego";
					GenerujSprawozdanie();
				});

                var interpretacjaIAnalizaWskaznikowZadluzeniaButton = document.createElement('button');
				interpretacjaIAnalizaWskaznikowZadluzeniaButton.classList = "btn button is-info chart-button";
				interpretacjaIAnalizaWskaznikowZadluzeniaButton.innerHTML = "Interpretacja i analiza wskaźników";
				chartButtons.appendChild(interpretacjaIAnalizaWskaznikowZadluzeniaButton);
                interpretacjaIAnalizaWskaznikowZadluzeniaButton.addEventListener('click', function () {
                    InterpretujWskaznikiZadluzenia();
                });
            }
                break;
        }
    }

    function GenerujStartoweSprawozdanie() {
        var button = document.getElementById('submit-button');
        button.addEventListener('click', function () {
            GenerujSprawozdanie();
        });
    }

    function WyzerujWykres() {
		var chartsContext = document.querySelector('.charts-section canvas');
        if (chartsContext) {
			chartsContext.remove();
        }
    }

    function InterpretujWskaznikiPlynnosci() {
        var wybranyOkresPoczatkowy = document.querySelector('input[name="okresPoczatkowyBilans"]:checked').value;
        var wybranyOkresKoncowy = document.querySelector('input[name="okresKoncowyBilans"]:checked').value;
        if (analiza.wskaznikPlynnosciBiezacejUbiegly == null || analiza.wskaznikPlynnosciSzybkiejUbiegly == null || analiza.wskaznikPlynnosciGotowkowejUbiegly == null 
            || analiza.wskaznikPlynnosciBiezacejBiezacy == null || analiza.wskaznikPlynnosciSzybkiejBiezacy == null || analiza.wskaznikPlynnosciGotowkowejBiezacy == null) {
                kontekst = "base";
                GenerujSprawozdanie();
                kontekst = "wskaznikPlynnosciSzybkiej";
                GenerujSprawozdanie();
                kontekst = "wskaznikPlynnosciGotowkowej";
                GenerujSprawozdanie();
            }
        var chartsContext = document.getElementById('canvas');
        chartsContext.remove();
        
        var charts = document.querySelector(".chart-buttons");

        var table = document.createElement("table");
        table.classList = "table is-bordered is-striped is-narrow is-hoverable is-fullwidth";
        var thead = document.createElement("thead");
        var tr = document.createElement("tr");
        var th = document.createElement("th");
        th.innerHTML = "Nazwa wskaźnika";
        var th1 = document.createElement("th");
        th1.innerHTML = "Zalecana wartość wskaźnika";
        var th2 = document.createElement("th");
        th2.innerHTML = "Wartość wskaźnika (ubiegła)";
        var th3 = document.createElement("th");
        th3.innerHTML = "Wartość wskaźnika (bieżąca)";
        var tbody = document.createElement("tbody");

        var tr1 = document.createElement("tr");
        var td1 = document.createElement("td");
        td1.innerHTML = "Wskaźnik płynności bieżącej";

        var td2 = document.createElement("td");
        td2.innerHTML = "1,2 - 2,0";

        var td3 = document.createElement("td");
        td3.innerHTML = analiza.wskaznikPlynnosciBiezacejUbiegly.toString().slice(0,4);

        var td4 = document.createElement("td");
        td4.innerHTML = analiza.wskaznikPlynnosciBiezacejBiezacy.toString().slice(0,4);

        var trSzybka = document.createElement("tr");

        var td12 = document.createElement("td");
        td12.innerHTML = "Wskaźnik płynności szybkiej";

        var td22 = document.createElement("td");
        td22.innerHTML = "~1,0";

        var td23 = document.createElement("td");
        td23.innerHTML = analiza.wskaznikPlynnosciSzybkiejUbiegly.toString().slice(0, 4);

        var td24 = document.createElement("td");
        td24.innerHTML = analiza.wskaznikPlynnosciSzybkiejBiezacy.toString().slice(0, 4);

        var trGotowkowa = document.createElement("tr");

        var td31 = document.createElement("td");
        td31.innerHTML = "Wskaźnik płynności gotówkowej";

        var td32 = document.createElement("td");
        td32.innerHTML = "0,1 - 0,2";

        var td33 = document.createElement("td");
        td33.innerHTML = analiza.wskaznikPlynnosciGotowkowejUbiegly.toString().slice(0, 4);

        var td34 = document.createElement("td");
        td34.innerHTML = analiza.wskaznikPlynnosciGotowkowejBiezacy.toString().slice(0, 4);

        tr.appendChild(th);
        tr.appendChild(th1);
        tr.appendChild(th2);
        tr.appendChild(th3);

        thead.appendChild(tr);
        table.appendChild(thead);
        tr1.appendChild(td1);
        tr1.appendChild(td2);
        tr1.appendChild(td3);
        tr1.appendChild(td4);

        tbody.appendChild(tr1);

        trSzybka.appendChild(td12);
        trSzybka.appendChild(td22);
        trSzybka.appendChild(td23);
        trSzybka.appendChild(td24);

        tbody.appendChild(trSzybka);

        trGotowkowa.appendChild(td31);
        trGotowkowa.appendChild(td32);
        trGotowkowa.appendChild(td33);
        trGotowkowa.appendChild(td34);

		tbody.appendChild(trGotowkowa);

        table.appendChild(tbody);
        charts.appendChild(table);

        var interpretacjaSection = document.createElement("div");
        interpretacjaSection.classList = "interpretation-section";
        var interpretacjaHeader = document.createElement("h1");
        interpretacjaHeader.innerHTML = "Opis wskaźników płynności finansowej.<br>";
        var interpretacjaText = document.createElement("p");
        interpretacjaText.style.marginLeft = "10px"; 
        interpretacjaText.style.display = "inline-block"; 
        interpretacjaText.innerHTML = "Wskaźniki płynności finansowej oznaczają zdolność jednostki do terminowego regulowania bieżących zobowiązań." +
            "<ol>"
            + "<li>Wskaźnik płynności bieżącej określa w jakim stopniu aktywa obrotowe pokrywają zobowiązania krótkoterminowe.<br>"
            + "Zalecana wartość wskaźnika powinna być w przedziale od 1,2 do 2 (tj. 120-200%)</li>" +
            "<li>Wskaźnik płynności szybkiej określa w jakim stopniu płynne aktywa obrotowe pokrywają zobowiązania krótkoterminowe.<br>"
            + "Wskaźnik ten, wyłącza z aktywów obrotowych najmniej płynne aktywa - zapasy.<br>" + 
            "Zalecana wartość wskaźnika powinna wynosić ~1,0 (tj. 100%).</li>" +
            "<li>Wskaźnik płynności gotówkowej określa w jakim stopniu najbardziej płynne aktywa obrotowe (środki w kasie i na rachunku bieżącym) pokrywają zobowiązania krótkoterminowe.<br>"
            + "Zalecana wartość wskaźnika powinna być w przedziale od 0,1 do 0,2 (tj. 10-20%).</li>" +
            "</ol>";

        interpretacjaSection.appendChild(interpretacjaHeader);
        interpretacjaSection.appendChild(interpretacjaText);
        
        var chartsSection = document.querySelector(".charts-section");
        chartsSection.appendChild(interpretacjaSection);

        var tableAnaliza = document.createElement("table");
        tableAnaliza.classList = "table is-bordered is-striped is-narrow is-hoverable is-fullwidth";
        var thead = document.createElement("thead");
        var trTableHead = document.createElement("tr");
        var thNazwa = document.createElement("th");
        thNazwa.innerHTML = "Nazwa wskaźnika";
        var thInterpretacja = document.createElement("th");
        thInterpretacja.innerHTML = "Interpretacja wskaźnika";
        var thAnaliza = document.createElement("th");
        thAnaliza.innerHTML = "Analiza wskaźnika";

        var tbodyAnaliza = document.createElement("tbody");
        var trBiezaca = document.createElement("tr");
        var tdBiezaca = document.createElement("td");
        var tdBiezacaInterpretacja = document.createElement("td");
        var tdBiezacaAnaliza = document.createElement("td");

        tdBiezaca.innerHTML = "Wskaźnik płynności bieżącej";
        const wskaznikPlynnosciBiezacejUbieglyProcent = (analiza.wskaznikPlynnosciBiezacejUbiegly * 100).toString().slice(0, 4).replace(".", "");
        const wskaznikPlynnosciBiezacejBiezacyProcent = (analiza.wskaznikPlynnosciBiezacejBiezacy * 100).toString().slice(0, 4).replace(".", "");
        const wskaznikPlynnosciBiezacejBiezacy = (analiza.wskaznikPlynnosciBiezacejBiezacy).toString().slice(0, 4);
        const wskaznikPlynnosciBiezacejUbiegly = (analiza.wskaznikPlynnosciBiezacejUbiegly).toString().slice(0, 4);

        tdBiezacaInterpretacja.innerHTML = `Wskaźnik płynności bieżącej z okresu początkowego: ${wybranyOkresPoczatkowy} wyniósł: ${analiza.wskaznikPlynnosciBiezacejUbiegly} <br>
        co oznacza, że aktywa obrotowe pokryły zobowiązania krótkoterminowe w ${wskaznikPlynnosciBiezacejUbieglyProcent}%.<br>
        Wskaźnik płynności bieżącej z okresu końcowego: ${wybranyOkresKoncowy} wyniósł: ${wskaznikPlynnosciBiezacejBiezacy} <br>
        co oznacza, że aktywa obrotowe pokrywają zobowiązania krótkoterminowe w ${wskaznikPlynnosciBiezacejBiezacyProcent}%.`;

        var analizaPlynnosiBiezacej = "";
        var roznicaPlynnosci = parseFloat(wskaznikPlynnosciBiezacejBiezacy) - parseFloat(wskaznikPlynnosciBiezacejUbiegly);
        var roznicaPlynnosciString = Math.abs(roznicaPlynnosci).toString().slice(0, 4);
        if (roznicaPlynnosci > 0) {
            analizaPlynnosiBiezacej = `Wzrost wskaźnika płynności bieżącej o ${roznicaPlynnosciString} w stosunku do roku ubiegłego jest zjawiskiem pozytywnym.<br>`;
        } else if (roznicaPlynnosci < 0) {
            analizaPlynnosiBiezacej = `Spadek wskaźnika płynności bieżącej o ${roznicaPlynnosciString} w stosunku do roku ubiegłego jest zjawiskiem negatywnym.<br>`;
        } else if (roznicaPlynnosci == 0) {
            analizaPlynnosiBiezacej = `Wskaźnik płynności bieżącej nie zmienił się w stosunku do roku ubiegłego.`;
        }

        if (parseFloat(wskaznikPlynnosciBiezacejBiezacy) > 2.0) {
			analizaPlynnosiBiezacej += `Wartość wskaźnika płynności bieżącej z okresu końcowego 
            jest wyższa od zalecanej wartości wskaźnika, co może stanowić o nadmiernym zaangażowaniu środków finansowych w finansowanie bieżącej działalności.`;
		} else if (parseFloat(wskaznikPlynnosciBiezacejBiezacy) < 1.2) {
			analizaPlynnosiBiezacej += `Wartość wskaźnika płynności bieżącej z okresu końcowego
            jest niższa od zalecanej wartości wskaźnika, co może świadczyć o niedostatecznym zaangażowaniu środków finansowych w finansowaniu bieżącej działalności..`;
		} else if (parseFloat(wskaznikPlynnosciBiezacejBiezacy) > 1.2 && parseFloat(wskaznikPlynnosciBiezacejBiezacy) < 2.0) {
			analizaPlynnosiBiezacej += `Wartość wskaźnika płynności bieżącej z okresu końcowego jest zgodna z zalecaną wartością wskaźnika.
            Wartość wskaźnika mieści się w normie, co oznacza, że jednostka ma zdolność do terminowego regulowania bieżących zobowiązań.`;
		}

        tdBiezacaAnaliza.innerHTML = analizaPlynnosiBiezacej;

        trTableHead.appendChild(thNazwa);
        trTableHead.appendChild(thInterpretacja);
        trTableHead.appendChild(thAnaliza);
        thead.appendChild(trTableHead);
        tableAnaliza.appendChild(thead);

        trBiezaca.appendChild(tdBiezaca);
        trBiezaca.appendChild(tdBiezacaInterpretacja);
        trBiezaca.appendChild(tdBiezacaAnaliza);
        tbodyAnaliza.appendChild(trBiezaca);

        var trSzybka = document.createElement("tr");
        var tdSzybka = document.createElement("td");
        var tdSzybkaInterpretacja = document.createElement("td");
        var tdSzybkaAnaliza = document.createElement("td");

        tdSzybka.innerHTML = "Wskaźnik płynności szybkiej";
        const wskaznikPlynnosciSzybkiejUbieglyProcent = (analiza.wskaznikPlynnosciSzybkiejUbiegly * 100).toString().slice(0, 3).replace(".", "");
        const wskaznikPlynnosciSzybkiejBiezacyProcent = (analiza.wskaznikPlynnosciSzybkiejBiezacy * 100).toString().slice(0, 3).replace(".", "");
        const wskaznikPlynnosciSzybkiejBiezacy = (analiza.wskaznikPlynnosciSzybkiejBiezacy).toString().slice(0, 3);
        const wskaznikPlynnosciSzybkiejUbiegly = (analiza.wskaznikPlynnosciSzybkiejUbiegly).toString().slice(0, 3);

        tdSzybkaInterpretacja.innerHTML = `Wskaźnik płynności szybkiej z okresu początkowego: ${wybranyOkresPoczatkowy} wyniósł: ${wskaznikPlynnosciSzybkiejUbiegly} <br>
        co oznacza, że płynne aktywa obrotowe pokryły zobowiązania krótkoterminowe w ${wskaznikPlynnosciSzybkiejUbieglyProcent}%.<br>
        Wskaźnik płynności szybkiej z okresu końcowego: ${wybranyOkresKoncowy} wyniósł: ${wskaznikPlynnosciSzybkiejBiezacy} <br>
        co oznacza, że płynne aktywa obrotowe pokrywają zobowiązania krótkoterminowe w ${wskaznikPlynnosciSzybkiejBiezacyProcent}%.`

        var analizaPlynnosiSzybkiej = "";
        var roznicaPlynnosciSzybkiej = parseFloat(wskaznikPlynnosciSzybkiejBiezacy) - parseFloat(wskaznikPlynnosciSzybkiejUbiegly);
        var roznicaPlynnosciSzybkiejString = Math.abs(roznicaPlynnosci).toString().slice(0, 3);
        if (roznicaPlynnosciSzybkiej > 0) {
            analizaPlynnosiSzybkiej = `Wzrost wskaźnika płynności szybkiej o ${roznicaPlynnosciSzybkiejString} w stosunku do roku ubiegłego jest zjawiskiem pozytywnym.<br>`;
        } else if (roznicaPlynnosciSzybkiej < 0) {
            analizaPlynnosiSzybkiej = `Spadek wskaźnika płynności szybkiej o ${roznicaPlynnosciSzybkiejString} w stosunku do roku ubiegłego jest zjawiskiem negatywnym.<br>`;
        } else if (roznicaPlynnosciSzybkiej == 0) {
            analizaPlynnosiSzybkiej = `Wskaźnik płynności szybkiej nie zmienił się w stosunku do roku ubiegłego.`;
        }

        if (parseFloat(wskaznikPlynnosciSzybkiejBiezacy) > 1.1) {
            analizaPlynnosiSzybkiej += `Wartość wskaźnika płynności szybkiej z okresu końcowego
                jest wyższa od zalecanej wartości wskaźnika, co może stanowić o nadmiernym zaangażowaniu środków finansowych w finansowanie bieżącej działalności.<br>
                Może świadczyć o za niskim zaangażowaniu środków pieniężnych w zapasy.`;
        } else if (parseFloat(wskaznikPlynnosciSzybkiejBiezacy) < 0.9) {
            analizaPlynnosiSzybkiej += `Wartość wskaźnika płynności szybkiej z okresu końcowego
                jest niższa od zalecanej wartości wskaźnika, co może świadczyć o niedostatecznym zaangażowaniu środków finansowych w finansowaniu bieżącej działalności.<br>
                Może świadczyć o zbyt dużym zaangażowaniu środków pieniężnych w zapasy.`;
        } else if (parseFloat(wskaznikPlynnosciSzybkiejBiezacy) > 0.9 && parseFloat(wskaznikPlynnosciSzybkiejBiezacy) < 1.1) {
            analizaPlynnosiSzybkiej += `Wartość wskaźnika płynności szybkiej z okresu końcowego jest zgodna z zalecaną wartością wskaźnika.
                Wartość wskaźnika mieści się w normie, co oznacza, że jednostka ma zdolność do terminowego regulowania bieżących zobowiązań.`;
        }

        tdSzybkaAnaliza.innerHTML = analizaPlynnosiSzybkiej;

        trSzybka.appendChild(tdSzybka);
        trSzybka.appendChild(tdSzybkaInterpretacja);
        trSzybka.appendChild(tdSzybkaAnaliza);
        tbodyAnaliza.appendChild(trSzybka);

        var trGotowkowa = document.createElement("tr");
        var tdGotowkowa = document.createElement("td");
        var tdGotowkowaInterpretacja = document.createElement("td");
        var tdGotowkowaAnaliza = document.createElement("td");

        tdGotowkowa.innerHTML = "Wskaźnik płynności gotówkowej";
        const wskaznikPlynnosciGotowkowejUbieglyProcent = (analiza.wskaznikPlynnosciGotowkowejUbiegly * 100).toString().replace(".", "").slice(0, 2);
        const wskaznikPlynnosciGotowkowejBiezacyProcent = (analiza.wskaznikPlynnosciGotowkowejBiezacy * 100).toString().replace(".", "").slice(0, 2);
        const wskaznikPlynnosciGotowkowejBiezacy = (analiza.wskaznikPlynnosciGotowkowejBiezacy).toString().slice(0, 4);
        const wskaznikPlynnosciGotowkowejUbiegly = (analiza.wskaznikPlynnosciGotowkowejUbiegly).toString().slice(0, 4);

        tdGotowkowaInterpretacja.innerHTML = `Wskaźnik płynności gotówkowej z okresu początkowego: ${wybranyOkresPoczatkowy} wynoszący: ${wskaznikPlynnosciGotowkowejUbiegly}
        informuje, że natychmiastowa spłata zobowiązań bieżących środkami pieniężnymi jest możliwa w ${wskaznikPlynnosciGotowkowejUbieglyProcent}%. <br>
        Wskaźnik płynności gotówkowej z okresu końcowego: ${wybranyOkresKoncowy} wynoszący: ${wskaznikPlynnosciGotowkowejBiezacy}
        informuje, że natychmiastowa spłata zobowiązań bieżących środkami pieniężnymi jest możliwa w ${wskaznikPlynnosciGotowkowejBiezacyProcent}%.`;

        var analizaPlynnosciGotowkowej = "";
        var roznicaPlynnosciGotowkowej = parseFloat(wskaznikPlynnosciGotowkowejBiezacy) - parseFloat(wskaznikPlynnosciGotowkowejUbiegly);
        var roznicaPlynnosciGotowkowejString = Math.abs(roznicaPlynnosci).toString().slice(0, 2);
        if (roznicaPlynnosciGotowkowej > 0) {
            analizaPlynnosiGotowkowej = `Wzrost wskaźnika płynności gotówkowej o ${roznicaPlynnosciGotowkowejString} w stosunku do roku ubiegłego jest zjawiskiem pozytywnym.<br>`;
        } else if (roznicaPlynnosciGotowkowej < 0) {
            analizaPlynnosiGotowkowej = `Spadek wskaźnika płynności gotówkowej o ${roznicaPlynnosciGotowkowejString} w stosunku do roku ubiegłego jest zjawiskiem negatywnym.<br>`;
        } else if (roznicaPlynnosciGotowkowej == 0) {
            analizaPlynnosiSzybkiej = `Wskaźnik płynności gotówkowej nie zmienił się w stosunku do roku ubiegłego.`;
        }

        if (parseFloat(wskaznikPlynnosciGotowkowejBiezacy) > 0.2) {
            analizaPlynnosciGotowkowej += `Wartość wskaźnika płynności gotówkowej z okresu końcowego
                    jest wyższa od zalecanej wartości wskaźnika, co może stanowić o nadmiernej wartości przechowywanych środków pieniężnych
                    w kasie i na rachunku bankowym. Należy pamiętać, że tylko środki zaangażowane w procesy gospodarcze generują zyski.<br>`;
        } else if (parseFloat(wskaznikPlynnosciGotowkowejBiezacy) < 0.1) {
            analizaPlynnosciGotowkowej += `Wartość wskaźnika płynności gotówkowej z okresu końcowego
                    jest niższa od zalecanej wartości wskaźnika, co może świadczyć o niedostatecznej wartości przechowywanych środków pieniężnych
                    w kasie i na rachunku bankowym. Należy pamiętać, że zbyt niska wartość tego wskaźnika może stanowić problem w przypadku chęci
                    inkasowania należności przez kontrahentów.`;
        } else if (parseFloat(wskaznikPlynnosciGotowkowejBiezacy) > 0.1 && parseFloat(wskaznikPlynnosciGotowkowejBiezacy) < 0.2) {
            analizaPlynnosciGotowkowej += `Wartość wskaźnika płynności gotówkowej z okresu końcowego jest zgodna z zalecaną wartością wskaźnika.
                    Wartość wskaźnika mieści się w normie, co oznacza, że jednostka ma zdolność do terminowego regulowania bieżących zobowiązań
                    postawionych nagle w stan wymagalności.`;
        }

        tdGotowkowaAnaliza.innerHTML = analizaPlynnosciGotowkowej;

        trGotowkowa.appendChild(tdGotowkowa);
        trGotowkowa.appendChild(tdGotowkowaInterpretacja);
        trGotowkowa.appendChild(tdGotowkowaAnaliza);
        tbodyAnaliza.appendChild(trGotowkowa);

        tableAnaliza.appendChild(tbodyAnaliza);
        charts.appendChild(tableAnaliza);
    }

    function InterpretujWskaznikiRentownosci() {

        var wybranyOkresPoczatkowyBilans = document.querySelector('input[name="okresPoczatkowyBilans"]:checked').value;
        var wybranyOkresKoncowyBilans = document.querySelector('input[name="okresKoncowyBilans"]:checked').value;
        var wybranyOkresPoczatkowyRachunek = document.querySelector('input[name="okresPoczatkowyRachunek"]:checked').value;
        var wybranyOkresKoncowyRachunek = document.querySelector('input[name="okresKoncowyRachunek"]:checked').value;
		kontekst = "base";
		GenerujSprawozdanie();
		kontekst = "wskaznikRentownosciNettoSprzedazy";
		GenerujSprawozdanie();
		kontekst = "wskaznikRentownosciNettoKapitaluWlasnego";
		GenerujSprawozdanie();
			
        var chartsContext = document.getElementById('canvas');
        chartsContext.remove();

        var charts = document.querySelector(".chart-buttons");

        var table = document.createElement("table");
        table.classList = "table is-bordered is-striped is-narrow is-hoverable is-fullwidth";
        var thead = document.createElement("thead");
        var tr = document.createElement("tr");
        var th = document.createElement("th");
        th.innerHTML = "Nazwa wskaźnika";
        var th1 = document.createElement("th");
        th1.innerHTML = "Zalecana wartość wskaźnika";
        var th2 = document.createElement("th");
        th2.innerHTML = "Wartość wskaźnika (ubiegła)";
        var th3 = document.createElement("th");
        th3.innerHTML = "Wartość wskaźnika (bieżąca)";
        var tbody = document.createElement("tbody");

        var tr1 = document.createElement("tr");
        var td1 = document.createElement("td");
        td1.innerHTML = "Wskaźnik rentowności sprzedaży";

        var td2 = document.createElement("td");
        td2.innerHTML = "Im więcej, tym lepiej";

        var td3 = document.createElement("td");
        td3.innerHTML = analiza.wskaznikRentownosciSprzedazyUbiegly.toString().slice(0, 4);

        var td4 = document.createElement("td");
        td4.innerHTML = analiza.wskaznikRentownosciSprzedazyBiezacy.toString().slice(0, 4);

        var trSzybka = document.createElement("tr");

        var td12 = document.createElement("td");
        td12.innerHTML = "Wskaźnik rentowności netto sprzedaży";

        var td22 = document.createElement("td");
        td22.innerHTML = "Im więcej, tym lepiej.";

        var td23 = document.createElement("td");
        td23.innerHTML = analiza.wskaznikRentownosciNettoSprzedazyUbiegly.toString().slice(0, 4);

        var td24 = document.createElement("td");
        td24.innerHTML = analiza.wskaznikRentownosciNettoSprzedazyBiezacy.toString().slice(0, 4);

        var trGotowkowa = document.createElement("tr");

        var td31 = document.createElement("td");
        td31.innerHTML = "Wskaźnik rentowności netto kapitału własnego (ROE)";

        var td32 = document.createElement("td");
        td32.innerHTML = "Im więcej, tym lepiej.";

        var td33 = document.createElement("td");
        td33.innerHTML = analiza.wskaznikRentownosciNettoKapitaluWlasnegoUbiegly.toString().slice(0, 4);

        var td34 = document.createElement("td");
        td34.innerHTML = analiza.wskaznikRentownosciNettoKapitaluWlasnegoBiezacy.toString().slice(0, 4);

        tr.appendChild(th);
        tr.appendChild(th1);
        tr.appendChild(th2);
        tr.appendChild(th3);

        thead.appendChild(tr);
        table.appendChild(thead);
        tr1.appendChild(td1);
        tr1.appendChild(td2);
        tr1.appendChild(td3);
        tr1.appendChild(td4);

        tbody.appendChild(tr1);

        trSzybka.appendChild(td12);
        trSzybka.appendChild(td22);
        trSzybka.appendChild(td23);
        trSzybka.appendChild(td24);

        tbody.appendChild(trSzybka);

        trGotowkowa.appendChild(td31);
        trGotowkowa.appendChild(td32);
        trGotowkowa.appendChild(td33);
        trGotowkowa.appendChild(td34);

        tbody.appendChild(trGotowkowa);

        table.appendChild(tbody);
        charts.appendChild(table);

        var interpretacjaSection = document.createElement("div");
        interpretacjaSection.classList = "interpretation-section";
        var interpretacjaHeader = document.createElement("h1");
        interpretacjaHeader.innerHTML = "Opis wskaźników rentowności.<br>";
        var interpretacjaText = document.createElement("p");
        interpretacjaText.style.marginLeft = "10px";
        interpretacjaText.style.display = "inline-block";
        interpretacjaText.innerHTML = "Wskaźniki rentowności są miarą dzięki której przedsiębiorstwo może ocenić efektywność gospodarowania sprzedażą, tudzież aktywami. Określa się to mianem zyskowności lub deficytowości." +
            "<ol>"
            + "<li>Wskaźnik rentowności sprzedaży określa, ile groszy zysku ze sprzedaży daje (generuje) 1 złotówka osiągniętego przychodu, np. ze sprzedaży towarów. Im wskaźnik wyższy, tym efektywność sprzedaży towarów większa.<br>" +
            "<li>Wskaźnik rentowności netto sprzedaży określa, ile groszy zysku netto daje (generuje) 1 złotówka osiągniętego przychodu ogółem. Innymi słowy - jak bardzo opłacalna, rentowna jest działalność przedsiębiorstwa. Im wskaźnik wykazuje większy poziom, tym sytuacja jest korzystniejsza (efektywność sprzedaży wyższa).<br>" +
            "<li>Wskaźnik rentowności netto kapitału własnego (ROE) określa, jaka kwota zysku netto przypada na 1 złotówkę kapitału własnego zaangażowanego w działalność. Im wyższa wartość wskaźnika, tym lepiej.<br>" +
            "</ol>";

        interpretacjaSection.appendChild(interpretacjaHeader);
        interpretacjaSection.appendChild(interpretacjaText);

        var chartsSection = document.querySelector(".charts-section");
        chartsSection.appendChild(interpretacjaSection);

        var tableAnaliza = document.createElement("table");
        tableAnaliza.classList = "table is-bordered is-striped is-narrow is-hoverable is-fullwidth";
        var thead = document.createElement("thead");
        var trTableHead = document.createElement("tr");
        var thNazwa = document.createElement("th");
        thNazwa.innerHTML = "Nazwa wskaźnika";
        var thInterpretacja = document.createElement("th");
        thInterpretacja.innerHTML = "Interpretacja wskaźnika";
        var thAnaliza = document.createElement("th");
        thAnaliza.innerHTML = "Analiza wskaźnika";

        var tbodyAnaliza = document.createElement("tbody");
        var trRentownosciSprzedazy = document.createElement("tr");
        var tdRentownosciSprzedazy = document.createElement("td");
        var tdRentownosciSprzedazyInterpretacja = document.createElement("td");
        var tdRentownosciSprzedazyAnaliza = document.createElement("td");

        tdRentownosciSprzedazy.innerHTML = "Wskaźnik rentowności sprzedaży";
        const wskaznikRentownosciSprzedazyUbieglyProcent = (parseFloat(analiza.wskaznikRentownosciSprzedazyUbiegly) * 100).toString().slice(0, 4)
        const wskaznikRentownosciSprzedazyBiezacyProcent = (parseFloat(analiza.wskaznikRentownosciSprzedazyBiezacy) * 100).toString().slice(0, 4)
        const wskaznikRentownosciSprzedazyBiezacy = parseFloat(analiza.wskaznikRentownosciSprzedazyBiezacy).toString().slice(0, 4);
        const wskaznikRentownosciSprzedazyUbiegly = parseFloat(analiza.wskaznikRentownosciSprzedazyUbiegly).toString().slice(0, 4);

        tdRentownosciSprzedazyInterpretacja.innerHTML = `Wskaźnik rentowności sprzedaży z okresu początkowego: ${wybranyOkresPoczatkowyRachunek} wyniósł: ${wskaznikRentownosciSprzedazyUbiegly} <br>
            co oznacza, że przedsiębiorstwo osiągnęło z 1 złotówki przychodów ze sprzedaży zysk ze sprzedaży w wysokości ${wskaznikRentownosciSprzedazyUbieglyProcent} groszy.<br>
            Wskaźnik rentowności sprzedaży z okresu końcowego: ${wybranyOkresKoncowyRachunek} wyniósł: ${wskaznikRentownosciSprzedazyBiezacy} <br>
            co oznacza, że przedsiębiorstwo osiągnęło z 1 złotówki przychodów ze sprzedaży zysk ze sprzedaży w wysokości ${wskaznikRentownosciSprzedazyBiezacyProcent} groszy.`;

        var analizaRentownosciSprzedazy = "";
        var roznicaSprzedazy = parseFloat(wskaznikRentownosciSprzedazyBiezacy) - parseFloat(wskaznikRentownosciSprzedazyUbiegly);
        var roznicaSprzedazyString = Math.abs(roznicaSprzedazy).toString().slice(0, 5);
        if (roznicaSprzedazy > 0) {
            analizaRentownosciSprzedazy = `Wzrost wskaźnika rentowności sprzedaży o ${roznicaSprzedazyString} w 
            stosunku do roku ubiegłego jest zjawiskiem pozytywnym.<br>
            Zwiększający się wskaźnik rentowności sprzedaży świadczy o większej efektywności sprzedaży,
            czyli większym zysku ze 
            sprzedaży przypadającym na każdą złotówkę zaangażowaną w przychody ze sprzedaży.`;
        } else if (roznicaSprzedazy < 0) {
            analizaRentownosciSprzedazy = `Spadek wskaźnika rentowności sprzedaży o ${roznicaSprzedazyString} w 
            stosunku do roku ubiegłego jest zjawiskiem negatywnym. Zmniejszający się wskaźnik rentowności sprzedaży
            świadczy o mniejszej efektywności sprzedaży, czyli mniejszym zysku ze sprzedaży przypadającym na
            każdą złotówkę zaangażowaną w przychody ze sprzedaży.<br>`;
        } else if (roznicaSprzedazy == 0) {
            analizaRentownosciSprzedazy = `Wskaźnik rentowności sprzedaży nie zmienił się w stosunku
            do roku ubiegłego. `;
        }

        tdRentownosciSprzedazyAnaliza.innerHTML = analizaRentownosciSprzedazy;

        trTableHead.appendChild(thNazwa);
        trTableHead.appendChild(thInterpretacja);
        trTableHead.appendChild(thAnaliza);
        thead.appendChild(trTableHead);
        tableAnaliza.appendChild(thead);

        trRentownosciSprzedazy.appendChild(tdRentownosciSprzedazy);
        trRentownosciSprzedazy.appendChild(tdRentownosciSprzedazyInterpretacja);
        trRentownosciSprzedazy.appendChild(tdRentownosciSprzedazyAnaliza);
        tbodyAnaliza.appendChild(trRentownosciSprzedazy);
        
        var trRentownosciSprzedazyNetto = document.createElement("tr");
        var tdRentownosciSprzedazyNetto = document.createElement("td");
        var tdRentownosciSprzedazyNettoInterpretacja = document.createElement("td");
        var tdRentownosciSprzedazyNettoAnaliza = document.createElement("td");

        tdRentownosciSprzedazyNetto.innerHTML = "Wskaźnik rentowności netto sprzedaży";
        const wskaznikRentownosciSprzedazyNettoUbieglyProcent = (parseFloat(analiza.wskaznikRentownosciNettoSprzedazyUbiegly) * 100).toString().slice(0, 4)
        const wskaznikRentownosciSprzedazyNettoBiezacyProcent = (parseFloat(analiza.wskaznikRentownosciNettoSprzedazyBiezacy) * 100).toString().slice(0, 4)
        const wskaznikRentownosciSprzedazyNettoBiezacy = parseFloat(analiza.wskaznikRentownosciNettoSprzedazyBiezacy).toString().slice(0, 4);
        const wskaznikRentownosciSprzedazyNettoUbiegly = parseFloat(analiza.wskaznikRentownosciNettoSprzedazyUbiegly).toString().slice(0, 4);
        
        tdRentownosciSprzedazyNettoInterpretacja.innerHTML = `Wskaźnik rentowności netto sprzedaży z okresu początkowego: ${wybranyOkresPoczatkowyRachunek} wyniósł: ${wskaznikRentownosciSprzedazyNettoUbiegly} <br>
                co oznacza, że przedsiębiorstwo osiągnęło z 1 złotówki przychodów ze sprzedaży zysk netto ze sprzedaży w wysokości ${wskaznikRentownosciSprzedazyNettoUbieglyProcent} groszy.<br>
                Wskaźnik rentowności netto sprzedaży z okresu końcowego: ${wybranyOkresKoncowyRachunek} wyniósł: ${wskaznikRentownosciSprzedazyNettoBiezacy} <br>
                co oznacza, że przedsiębiorstwo osiągnęło z 1 złotówki przychodów ze sprzedaży zysk netto ze sprzedaży w wysokości ${wskaznikRentownosciSprzedazyNettoBiezacyProcent} groszy.`;
            
        var analizaRentownosciNettoSprzedazy = "";
        var roznicaSprzedazyNetto = parseFloat(wskaznikRentownosciSprzedazyNettoBiezacy) - parseFloat(wskaznikRentownosciSprzedazyNettoUbiegly);
        var roznicaSprzedazyNettoString = Math.abs(roznicaSprzedazyNetto).toString().slice(0, 5);
        if (roznicaSprzedazyNetto > 0) {
            analizaRentownosciNettoSprzedazy = `Wzrost wskaźnika rentowności netto sprzedaży o ${roznicaSprzedazyNettoString} w 
            stosunku do roku ubiegłego jest zjawiskiem pozytywnym.<br>
            Zwiększający się wskaźnik rentowności netto sprzedaży świadczy o większej efektywności sprzedaży,
            czyli większym zysku netto ze 
            sprzedaży przypadającym na każdą złotówkę zaangażowaną w przychody ze sprzedaży.`;
        } else if (roznicaSprzedazyNetto < 0) {
            analizaRentownosciNettoSprzedazy = `Spadek wskaźnika rentowności netto sprzedaży o ${roznicaSprzedazyNettoString} w 
            stosunku do roku ubiegłego jest zjawiskiem negatywnym. Zmniejszający się wskaźnik rentowności netto sprzedaży 
            świadczy o mniejszej efektywności sprzedaży, czyli mniejszym zysku netto ze sprzedaży przypadającym na
            każdą złotówkę zaangażowaną w przychody ze sprzedaży.<br>`;
        } else if (roznicaSprzedazyNetto == 0) {
            analizaRentownosciNettoSprzedazy = `Wskaźnik rentowności netto sprzedaży nie zmienił się w stosunku
            do roku ubiegłego. `;
        }

        tdRentownosciSprzedazyNettoAnaliza.innerHTML = analizaRentownosciNettoSprzedazy;

        trRentownosciSprzedazyNetto.appendChild(tdRentownosciSprzedazyNetto);
        trRentownosciSprzedazyNetto.appendChild(tdRentownosciSprzedazyNettoInterpretacja);
        trRentownosciSprzedazyNetto.appendChild(tdRentownosciSprzedazyNettoAnaliza);
        tbodyAnaliza.appendChild(trRentownosciSprzedazyNetto);
        
        var trRentownosciNettoKapitaluWlasnego = document.createElement("tr");
        var tdRentownosciNettoKapitaluWlasnego = document.createElement("td");
        var tdRentownosciNettoKapitaluWlasnegoInterpretacja = document.createElement("td");
        var tdRentownosciNettoKapitaluWlasnegoAnaliza = document.createElement("td");

        tdRentownosciNettoKapitaluWlasnego.innerHTML = "Wskaźnik rentowności netto kapitału własnego";
        const wskaznikRentownosciNettoKapitaluWlasnegoUbieglyProcent = (parseFloat(analiza.wskaznikRentownosciNettoKapitaluWlasnegoUbiegly) * 100).toString().slice(0, 4);
        const wskaznikRentownosciNettoKapitaluWlasnegoBiezacyProcent = (parseFloat(analiza.wskaznikRentownosciNettoKapitaluWlasnegoBiezacy) * 100).toString().slice(0, 4);
        const wskaznikRentownosciNettoKapitaluWlasnegoBiezacy = parseFloat(analiza.wskaznikRentownosciNettoKapitaluWlasnegoBiezacy).toString().slice(0, 4);
        const wskaznikRentownosciNettoKapitaluWlasnegoUbiegly = parseFloat(analiza.wskaznikRentownosciNettoKapitaluWlasnegoUbiegly).toString().slice(0, 4);
        
        tdRentownosciNettoKapitaluWlasnegoInterpretacja.innerHTML = `Wskaźnik rentowności netto kapitału własnego z okresu początkowego: ${wybranyOkresPoczatkowyBilans} wyniósł: ${wskaznikRentownosciNettoKapitaluWlasnegoUbiegly} <br>
                co oznacza, że przedsiębiorstwo osiągnęło z 1 złotówki zaangażowanego w działalność przedsiębiorstwa kapitału własnego zysk netto w wysokości ${wskaznikRentownosciNettoKapitaluWlasnegoUbieglyProcent} groszy.<br>
                Wskaźnik rentowności netto kapitału własnego z okresu końcowego: ${wybranyOkresKoncowyBilans} wyniósł: ${wskaznikRentownosciNettoKapitaluWlasnegoBiezacy} <br>
                    co oznacza, że przedsiębiorstwo osiągnęło z 1 złotówki zaangażowanego w działalność przedsiębiorstwa kapitału własnego zysk netto w wysokości ${wskaznikRentownosciNettoKapitaluWlasnegoBiezacyProcent} groszy.`;

        var analizaRentownosciNettoKapitaluWlasnego = "";
        var roznicaRentownosciNettoKapitaluWlasnego = parseFloat(wskaznikRentownosciNettoKapitaluWlasnegoBiezacy) - parseFloat(wskaznikRentownosciNettoKapitaluWlasnegoUbiegly);
        var roznicaRentownosciNettoKapitaluWlasnegoString = Math.abs(roznicaRentownosciNettoKapitaluWlasnego).toString().slice(0, 5);
        if (roznicaRentownosciNettoKapitaluWlasnego > 0) {
            analizaRentownosciNettoKapitaluWlasnego = `Wzrost wskaźnika rentowności netto kapitału własnego 
            o ${roznicaRentownosciNettoKapitaluWlasnegoString} w
                stosunku do roku ubiegłego jest zjawiskiem pozytywnym.<br>
                Zwiększający się wskaźnik rentowności netto kapitału własnego świadczy o większej efektywności generowania zysku netto
                z każdej jednej złotówki zaangażowanej w kapitał własny.`;
        } else if (roznicaRentownosciNettoKapitaluWlasnego < 0) {
            analizaRentownosciNettoKapitaluWlasnego = `Spadek wskaźnika rentowności netto kapitału własnego
                o ${roznicaRentownosciNettoKapitaluWlasnegoString} w
                stosunku do roku ubiegłego jest zjawiskiem negatywnym.
                Zmniejszający się wskaźnik rentowności netto kapitału własnego świadczy o mniejszej efektywności generowania zysku netto
                z każdej jednej złotówki zaangażowanej w kapitał własny.<br>`;
        } else if (roznicaRentownosciNettoKapitaluWlasnego == 0) {
            analizaRentownosciNettoKapitaluWlasnego = `Wskaźnik rentowności netto kapitału własnego nie zmienił się w stosunku
                do roku ubiegłego. `;
        }

        tdRentownosciNettoKapitaluWlasnegoAnaliza.innerHTML = analizaRentownosciNettoKapitaluWlasnego;

        trRentownosciNettoKapitaluWlasnego.appendChild(tdRentownosciNettoKapitaluWlasnego);
        trRentownosciNettoKapitaluWlasnego.appendChild(tdRentownosciNettoKapitaluWlasnegoInterpretacja);
        trRentownosciNettoKapitaluWlasnego.appendChild(tdRentownosciNettoKapitaluWlasnegoAnaliza);
        tbodyAnaliza.appendChild(trRentownosciNettoKapitaluWlasnego);

        tableAnaliza.appendChild(tbodyAnaliza);
        charts.appendChild(tableAnaliza);
    }

    function InterpretujWskaznikiZadluzenia() {

        var wybranyOkresPoczatkowyBilans = document.querySelector('input[name="okresPoczatkowyBilans"]:checked').value;
        var wybranyOkresKoncowyBilans = document.querySelector('input[name="okresKoncowyBilans"]:checked').value;
        kontekst = "base";
        GenerujSprawozdanie();
        kontekst = "wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatku";
        GenerujSprawozdanie();
        kontekst = "wskaznikZadluzeniaKapitaluWlasnego";
        GenerujSprawozdanie();

        var chartsContext = document.getElementById('canvas');
        chartsContext.remove();

        var charts = document.querySelector(".chart-buttons");

        var table = document.createElement("table");
        table.classList = "table is-bordered is-striped is-narrow is-hoverable is-fullwidth";
        var thead = document.createElement("thead");
        var tr = document.createElement("tr");
        var th = document.createElement("th");
        th.innerHTML = "Nazwa wskaźnika";
        var th1 = document.createElement("th");
        th1.innerHTML = "Zalecana wartość wskaźnika";
        var th2 = document.createElement("th");
        th2.innerHTML = "Wartość wskaźnika (ubiegła)";
        var th3 = document.createElement("th");
        th3.innerHTML = "Wartość wskaźnika (bieżąca)";
        var tbody = document.createElement("tbody");

        var tr1 = document.createElement("tr");
        var td1 = document.createElement("td");
        td1.innerHTML = "Wskaźnik ogólnego zadłużenia";

        var td2 = document.createElement("td");
        td2.innerHTML = "Im mniej tym lepiej, natomiast najlepiej aby wskaźnik nie przekraczał 65%";

        var td3 = document.createElement("td");
        td3.innerHTML = analiza.wskaznikOgolnegoZadluzeniaUbiegly.toString().slice(0, 4);

        var td4 = document.createElement("td");
        td4.innerHTML = analiza.wskaznikOgolnegoZadluzeniaBiezacy.toString().slice(0, 4);

        var trUdzialuKapitalowWlasnychWFinansowaniuMajatku = document.createElement("tr");

        var td12 = document.createElement("td");
        td12.innerHTML = "Wskaźnik udziału kapitałów własnych w finansowaniu majątku";

        var td22 = document.createElement("td");
        td22.innerHTML = "Im większa wartość wskaźnika, tym lepiej. Jednostka jest wówczas w mniejszym stopniu zależna od zewnętrznych źródeł finansowania";

        var td23 = document.createElement("td");
        td23.innerHTML = analiza.wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatakuUbiegly.toString().slice(0, 4);

        var td24 = document.createElement("td");
        td24.innerHTML = analiza.wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatakuBiezacy.toString().slice(0, 4);

        var trZadluzeniaKapitaluWlasnego = document.createElement("tr");

        var td31 = document.createElement("td");
        td31.innerHTML = "Wskaźnik zadłużenia kapitału własnego";

        var td32 = document.createElement("td");
        td32.innerHTML = "Im większa wartość wskaźnika, tym gorzej. Jednostka jest wówczas w większym stopniu zależna od zewnętrznych źródeł finansowania";

        var td33 = document.createElement("td");
        td33.innerHTML = analiza.wskaznikZadluzeniaKapitaluWlasnegoUbiegly.toString().slice(0, 4);

        var td34 = document.createElement("td");
        td34.innerHTML = analiza.wskaznikZadluzeniaKapitaluWlasnegoBiezacy.toString().slice(0, 4);

        tr.appendChild(th);
        tr.appendChild(th1);
        tr.appendChild(th2);
        tr.appendChild(th3);

        thead.appendChild(tr);
        table.appendChild(thead);
        tr1.appendChild(td1);
        tr1.appendChild(td2);
        tr1.appendChild(td3);
        tr1.appendChild(td4);

        tbody.appendChild(tr1);

        trUdzialuKapitalowWlasnychWFinansowaniuMajatku.appendChild(td12);
        trUdzialuKapitalowWlasnychWFinansowaniuMajatku.appendChild(td22);
        trUdzialuKapitalowWlasnychWFinansowaniuMajatku.appendChild(td23);
        trUdzialuKapitalowWlasnychWFinansowaniuMajatku.appendChild(td24);

        tbody.appendChild(trUdzialuKapitalowWlasnychWFinansowaniuMajatku);

        trZadluzeniaKapitaluWlasnego.appendChild(td31);
        trZadluzeniaKapitaluWlasnego.appendChild(td32);
        trZadluzeniaKapitaluWlasnego.appendChild(td33);
        trZadluzeniaKapitaluWlasnego.appendChild(td34);

        tbody.appendChild(trZadluzeniaKapitaluWlasnego);

        table.appendChild(tbody);
        charts.appendChild(table);
        
        var interpretacjaSection = document.createElement("div");
        interpretacjaSection.classList = "interpretation-section";
        var interpretacjaHeader = document.createElement("h1");
        interpretacjaHeader.innerHTML = "Opis wskaźników zadłużenia.<br>";
        var interpretacjaText = document.createElement("p");
        interpretacjaText.style.marginLeft = "10px";
        interpretacjaText.style.display = "inline-block";
        interpretacjaText.innerHTML = "Wskaźniki zadłużenia (wypłacalności) służą do oceny stopnia zadłużenia jednostki gospodarczej,"+
        "czyli charakteryzują poziom finansowania działalności przez źródła zewnętrzne, np. przez banki i dostawców. Do oceny zadłużenia" +
            "jednostki służą m.in następujące wskaźniki:" +
            "<ol>"
            + "<li>Wskaźnik ogólnego zadłużenia informuje o tym, w jakim stopniu zobowiązania ogólem pokrywają aktywa ogółem."+
            "Innymi słowy, wskazuje udział zewnętrznych źródeł finansowania w aktywa firmy. Im mniejsza wartość wskaźnika, tym większa zdolność firmy do spłaty zobowiązań.<br>" +
            "Według standardów zachodnich, najlepiej aby nie przekraczał 67%" +
            "<li>Wskaźnik udziału kapitałów własnych w finansowanie majątku informuje o tym, w jakim stopniu kapitał własny pokrywa aktywa ogółem.<br>" +
            "Im wskaźnik jest bliższy 100%, tym sytuacja finansowa firmy jest bardziej stabilna." +
            "<li>Wskaźnik zadłużenia kapitału własnego informuje o tym, w jakim stopniu zobowiązania ogółem pokrywają kapitał własny.<br>" +
            "Im mniejsza wartość wskaźnika, tym lepiej, bowiem w mniejszym stopniu firma jest zależna od zewnętrznych - obcych źródeł finansowania." +
            "Wartość tego wskaźnika nie powinna przekraczać 300%. Średnie i duże firmy powinny zachować proporcję 1:1." +
            "</ol>";

        interpretacjaSection.appendChild(interpretacjaHeader);
        interpretacjaSection.appendChild(interpretacjaText);

        var chartsSection = document.querySelector(".charts-section");
        chartsSection.appendChild(interpretacjaSection);
        
        var tableAnaliza = document.createElement("table");
        tableAnaliza.classList = "table is-bordered is-striped is-narrow is-hoverable is-fullwidth";
        var thead = document.createElement("thead");
        var trTableHead = document.createElement("tr");
        var thNazwa = document.createElement("th");
        thNazwa.innerHTML = "Nazwa wskaźnika";
        var thInterpretacja = document.createElement("th");
        thInterpretacja.innerHTML = "Interpretacja wskaźnika";
        var thAnaliza = document.createElement("th");
        thAnaliza.innerHTML = "Analiza wskaźnika";

        var tbodyAnaliza = document.createElement("tbody");
        var trOgolnegoZadluzenia = document.createElement("tr");
        var tdOgolnegoZadluzenia = document.createElement("td");
        var tdOgolnegoZadluzeniaInterpretacja = document.createElement("td");
        var tdOgolnegoZadluzeniaAnaliza = document.createElement("td");
        
        tdOgolnegoZadluzenia.innerHTML = "Wskaźnik ogólnego zadłużenia";
        const wskaznikOgolnegoZadluzeniaUbieglyProcent = (parseFloat(analiza.wskaznikOgolnegoZadluzeniaUbiegly) * 100).toString().slice(0, 4)
        const wskaznikOgolnegoZadluzeniaBiezacyProcent = (parseFloat(analiza.wskaznikOgolnegoZadluzeniaBiezacy) * 100).toString().slice(0, 4)
        const wskaznikOgolnegoZadluzeniaBiezacy = parseFloat(analiza.wskaznikOgolnegoZadluzeniaBiezacy).toString().slice(0, 4);
        const wskaznikOgolnegoZadluzeniaUbiegly = parseFloat(analiza.wskaznikOgolnegoZadluzeniaUbiegly).toString().slice(0, 4);
        
        tdOgolnegoZadluzeniaInterpretacja.innerHTML = `Wskaźnik ogólnego zadłużenia z okresu początkowego: ${wybranyOkresPoczatkowyBilans} wyniósł: ${wskaznikOgolnegoZadluzeniaUbiegly}
                co oznacza, że zobowiązania ogółem stanowiły ${wskaznikOgolnegoZadluzeniaUbieglyProcent}%. całości aktywów<br>
                Wskaźnik ogólnego zadłużenia z okresu końcowego: ${wybranyOkresKoncowyBilans} wyniósł: ${wskaznikOgolnegoZadluzeniaBiezacy}
                co oznacza, że zobowiązania ogółem stanowiły ${wskaznikOgolnegoZadluzeniaBiezacyProcent}% całości aktywów.`;
        
        var analizaOgolnegoZadluzenia = "";
        var roznicaOgolnegoZadluzenia = parseFloat(wskaznikOgolnegoZadluzeniaBiezacy) - parseFloat(wskaznikOgolnegoZadluzeniaUbiegly);
        var roznicaOgolnegoZadluzeniaString = Math.abs(roznicaOgolnegoZadluzenia).toString().slice(0, 5);
        if (roznicaOgolnegoZadluzenia > 0) {
            analizaOgolnegoZadluzenia = `Wzrost wskaźnika ogólnego zadłużenia o ${roznicaOgolnegoZadluzeniaString} w
                stosunku do roku ubiegłego jest zjawiskiem negatywnym.
                Zwiększający się wskaźnik ogólnego zadłużenia sprawia, że przedsiębiorstwo staje się bardziej zależne od zewnętrznych
                (obcych) źródeł finansowania. Pogarsza się również zdolność przedsiębiorstwa do spłaty zobowiązań.`;
        } else if (roznicaOgolnegoZadluzenia < 0) {
            analizaOgolnegoZadluzenia = `Spadek wskaźnika ogólnego zadłużenia o ${roznicaOgolnegoZadluzeniaString} w
                stosunku do roku ubiegłego jest zjawiskiem pozytywnym. Zmniejszająca się wartość wskaźnika sprawia,
                że przedsiębiorstwo staje się wówczas w mniejszym stopniu zależne od zewnętrznych (obcych) źródeł finansowania.
                Dodatkowo, zwiększa się również zdolność przedsiębiorstwa do spłaty zobowiązań.`;
        } else if (roznicaOgolnegoZadluzenia == 0) {
            analizaOgolnegoZadluzenia = `Wskaźnik ogólnego zadłużenia nie zmienił się w stosunku
                do roku ubiegłego. `;
        }

        tdOgolnegoZadluzeniaAnaliza.innerHTML = analizaOgolnegoZadluzenia;

        trTableHead.appendChild(thNazwa);
        trTableHead.appendChild(thInterpretacja);
        trTableHead.appendChild(thAnaliza);
        thead.appendChild(trTableHead);
        tableAnaliza.appendChild(thead);

        trOgolnegoZadluzenia.appendChild(tdOgolnegoZadluzenia);
        trOgolnegoZadluzenia.appendChild(tdOgolnegoZadluzeniaInterpretacja);
        trOgolnegoZadluzenia.appendChild(tdOgolnegoZadluzeniaAnaliza);
        tbodyAnaliza.appendChild(trOgolnegoZadluzenia);
        
        var trUdzialuKapitalowWlasnychWFinansowaniuMajatku = document.createElement("tr");
        var tdUdzialuKapitalowWlasnychWFinansowaniuMajatku = document.createElement("td");
        var tdUdzialuKapitalowWlasnychWFinansowaniuMajatkuInterpretacja = document.createElement("td");
        var tdUdzialuKapitalowWlasnychWFinansowaniuMajatkuAnaliza = document.createElement("td");

        tdUdzialuKapitalowWlasnychWFinansowaniuMajatku.innerHTML = "Wskaźnik udziału kapitałów własnych w finansowaniu majątku";
        const wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatkuUbieglyProcent = (parseFloat(analiza.wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatakuUbiegly) * 100).toString().slice(0, 4)
        const wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatkuBiezacyProcent = (parseFloat(analiza.wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatakuBiezacy) * 100).toString().slice(0, 4)
        const wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatkuBiezacy = parseFloat(analiza.wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatakuBiezacy).toString().slice(0, 4);
        const wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatkuUbiegly = parseFloat(analiza.wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatakuUbiegly).toString().slice(0, 4);

        tdUdzialuKapitalowWlasnychWFinansowaniuMajatkuInterpretacja.innerHTML = `Wskaźnik udziału kapitałów własnych w finansowaniu majątku przedsiębiorstwa z okresu początkowego: ${wybranyOkresPoczatkowyBilans} wyniósł: ${wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatkuUbiegly}
                    co oznacza, że kapitał własny stanowił ${wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatkuUbieglyProcent}% majątku przedsiębiorstwa.<br>
                    Wskaźnik udziału kapitałów własnych w finansowaniu majątku przedsiębiorstwa z okresu końcowego: ${wybranyOkresKoncowyBilans} wyniósł: ${wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatkuBiezacy}
                    co oznacza, że kapitał własny stanowił ${wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatkuBiezacyProcent}% majątku przedsiębiorstwa.`;

        var analizaUdzialuKapitalowWlasnychWFinansowaniuMajatku = "";
        var roznicaUdzialuKapitalowWlasnychWFinansowaniuMajatku = parseFloat(wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatkuBiezacy) - parseFloat(wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatkuUbiegly);
        var roznicaUdzialuKapitalowWlasnychWFinansowaniuMajatkuString = Math.abs(roznicaUdzialuKapitalowWlasnychWFinansowaniuMajatku).toString().slice(0, 5);
        if (roznicaUdzialuKapitalowWlasnychWFinansowaniuMajatku > 0) {
            analizaUdzialuKapitalowWlasnychWFinansowaniuMajatku = `Wzrost wskaźnika udziału kapitałów własnych w finansowaniu majątku
                    o ${roznicaUdzialuKapitalowWlasnychWFinansowaniuMajatkuString} w stosunku do roku ubiegłego jest zjawiskiem pozytywnym.
                Zwiększający się wskaźnik udziału kapitałów własnych w finansowaniu majątku świadczy o polepszającej się sytuacji finansowej
                przedsiębiorstwa, ponieważ firma staje się wówczas w mniejszym stopniu zależna od zewnętrznych (obcych) źródeł finansowania.
                Zwiększa się również sposobność jednostki co do możliwości spłaty długów.`;
        } else if (roznicaUdzialuKapitalowWlasnychWFinansowaniuMajatku < 0) {
            analizaUdzialuKapitalowWlasnychWFinansowaniuMajatku = `Spadek wskaźnika udziału kapitałów własnych w finansowaniu majątku
                    o ${roznicaUdzialuKapitalowWlasnychWFinansowaniuMajatkuString} w stosunku do roku ubiegłego jest zjawiskiem negatywnym.
                Zmniejszający się wskaźnik udziału kapitałów własnych w finansowaniu majątku świadczy o pogarszającej się sytuacji finansowej
                przedsiębiorstwa, ponieważ firma staje się wówczas w większym stopniu zależna od zewnętrznych (obcych) źródeł finansowania.
                Zmniejsza się również sposobność jednostki co do możliwości spłaty długów.`;
        } else if (roznicaUdzialuKapitalowWlasnychWFinansowaniuMajatku == 0) {
            analizaUdzialuKapitalowWlasnychWFinansowaniuMajatku = `Wskaźnik udziału kapitałów własnych w finansowaniu majątku przedsiębiorstwa nie zmienił się w stosunku
                do roku ubiegłego. `;
        }

        tdUdzialuKapitalowWlasnychWFinansowaniuMajatkuAnaliza.innerHTML = analizaUdzialuKapitalowWlasnychWFinansowaniuMajatku;

        trUdzialuKapitalowWlasnychWFinansowaniuMajatku.appendChild(tdUdzialuKapitalowWlasnychWFinansowaniuMajatku);
        trUdzialuKapitalowWlasnychWFinansowaniuMajatku.appendChild(tdUdzialuKapitalowWlasnychWFinansowaniuMajatkuInterpretacja);
        trUdzialuKapitalowWlasnychWFinansowaniuMajatku.appendChild(tdUdzialuKapitalowWlasnychWFinansowaniuMajatkuAnaliza);
        tbodyAnaliza.appendChild(trUdzialuKapitalowWlasnychWFinansowaniuMajatku);
        
        var trZadluzeniaKapitaluWlasnego = document.createElement("tr");
        var tdZadluzeniaKapitaluWlasnego = document.createElement("td");
        var tdZadluzeniaKapitaluWlasnegoInterpretacja = document.createElement("td");
        var tdZadluzeniaKapitaluWlasnegoAnaliza = document.createElement("td");

        tdZadluzeniaKapitaluWlasnego.innerHTML = "Wskaźnik zadłużenia kapitału własnego";
        const wskaznikZadluzeniaKapitaluWlasnegoUbieglyProcent = (parseFloat(analiza.wskaznikZadluzeniaKapitaluWlasnegoUbiegly) * 100).toString().slice(0, 5);
        const wskaznikZadluzeniaKapitaluWlasnegoBiezacyProcent = (parseFloat(analiza.wskaznikZadluzeniaKapitaluWlasnegoBiezacy) * 100).toString().slice(0, 5);
        const wskaznikZadluzeniaKapitaluWlasnegoBiezacy = parseFloat(analiza.wskaznikZadluzeniaKapitaluWlasnegoBiezacy).toString().slice(0, 4);
        const wskaznikZadluzeniaKapitaluWlasnegoUbiegly = parseFloat(analiza.wskaznikZadluzeniaKapitaluWlasnegoUbiegly).toString().slice(0, 4);

        tdZadluzeniaKapitaluWlasnegoInterpretacja.innerHTML = `Wskaźnik zadłużenia kapitału własnego z okresu początkowego: ${wybranyOkresPoczatkowyBilans} wyniósł: ${wskaznikZadluzeniaKapitaluWlasnegoUbiegly}
                    co oznacza, że zobowiązania były większe od kapitałów o ${wskaznikZadluzeniaKapitaluWlasnegoUbieglyProcent}%.<br>
                    Wskaźnik zadłużenia kapitału własnego z okresu końcowego: ${wybranyOkresKoncowyBilans} wyniósł: ${wskaznikZadluzeniaKapitaluWlasnegoBiezacy}
                    co oznacza, że zobowiązania były większe od kapitałów o ${wskaznikZadluzeniaKapitaluWlasnegoBiezacyProcent}%.`;

        var analizaZadluzeniaKapitaluWlasnego = "";
        var roznicaZadluzeniaKapitaluWlasnego = parseFloat(wskaznikZadluzeniaKapitaluWlasnegoBiezacy) - parseFloat(wskaznikZadluzeniaKapitaluWlasnegoUbiegly);
        var roznicaZadluzeniaKapitaluWlasnegoString = Math.abs(roznicaZadluzeniaKapitaluWlasnego).toString().slice(0, 5);
        if (roznicaZadluzeniaKapitaluWlasnego > 0) {
            analizaZadluzeniaKapitaluWlasnego = `Wzrost wskaźnika zadłużenia kapitału własnego o ${roznicaZadluzeniaKapitaluWlasnegoString}
                    w stosunku do roku ubiegłego jest zjawiskiem negatywnym.<br>
                    Zwiększający się wskaźnik zadłużenia kapitału własnego zwiększa ryzyko finansowe, gdyż konieczne jest regulowanie odsetek
                    i spłacanie zobowiązań, co może stwarzać presję na przepływy gotówkowe. Może również prowadzić do wyższych zwrotów dla
                    akcjonariuszy, jeśli inwestycje generują większe zyski.`;
        } else if (roznicaZadluzeniaKapitaluWlasnego < 0) {
            analizaZadluzeniaKapitaluWlasnego = `Spadek wskaźnika zadłużenia kapitału własnego o ${roznicaZadluzeniaKapitaluWlasnegoString}
                    w stosunku do roku ubiegłego jest zjawiskiem pozytywnym.<br>
                    Zmniejszający się wskaźnik zadłużenia kapitału własnego zmniejsza ryzysko finansowe, gdyż firma może zdecydować się wówczas
                    na spłatę zobowiązań, zmniejszając tym samym wskaźnik zadłużenia. Gromadzenie zysków może zwiększać również kapitał własny
                    bez konieczności korzystania z długu.`;
        } else if (roznicaZadluzeniaKapitaluWlasnego == 0) {
            analizaZadluzeniaKapitaluWlasnego = `Wskaźnik zadłużenia kapitału własnego nie zmienił się w stosunku do roku ubiegłego. `;
        }

        tdZadluzeniaKapitaluWlasnegoAnaliza.innerHTML = analizaZadluzeniaKapitaluWlasnego;

        trZadluzeniaKapitaluWlasnego.appendChild(tdZadluzeniaKapitaluWlasnego);
        trZadluzeniaKapitaluWlasnego.appendChild(tdZadluzeniaKapitaluWlasnegoInterpretacja);
        trZadluzeniaKapitaluWlasnego.appendChild(tdZadluzeniaKapitaluWlasnegoAnaliza);
        tbodyAnaliza.appendChild(trZadluzeniaKapitaluWlasnego);

        tableAnaliza.appendChild(tbodyAnaliza);
        charts.appendChild(tableAnaliza);
    }

    function WygenerujZestawienieZbiorcze() {
        var submitButton = document.getElementById("submit-button");
        submitButton.addEventListener('click', function () {
            var wybranaAnalizaFun = document.querySelector('input[name="typAnalizy"]:checked').value;
            
            if (wybranaAnalizaFun != "Uproszczone zestawienie zbiorcze wskaźników") {
                return;
            }

            const wybranyOkresPoczatkowyBilans = document.querySelector('input[name="okresPoczatkowyBilans"]:checked').value;
            const wybranyOkresKoncowyBilans = document.querySelector('input[name="okresKoncowyBilans"]:checked').value;
            const wybranyOkresPoczatkowyRachunek = document.querySelector('input[name="okresPoczatkowyRachunek"]:checked').value;
            const wybranyOkresKoncowyRachunek = document.querySelector('input[name="okresKoncowyRachunek"]:checked').value;

            const bilansUbiegly = FiltrujPoDacie(wybranyOkresPoczatkowyBilans, "bilans");
            const bilansBiezacy = FiltrujPoDacie(wybranyOkresKoncowyBilans, "bilans");
            const rachunekUbiegly = FiltrujPoDacie(wybranyOkresPoczatkowyRachunek, "rachunek");
            const rachunekBiezacy = FiltrujPoDacie(wybranyOkresKoncowyRachunek, "rachunek");

            const wskaznikPlynnosciBiezacejUbiegly = ObliczWskaznikPlynnosciBiezacej(bilansUbiegly);
            const wskaznikPlynnosciBiezacejBiezacy = ObliczWskaznikPlynnosciBiezacej(bilansBiezacy);

            const wskaznikPlynnosciSzybkiejUbiegly = ObliczWskaznikPlynnosciSzybkiej(bilansUbiegly);
            const wskaznikPlynnosciSzybkiejBiezacy = ObliczWskaznikPlynnosciSzybkiej(bilansBiezacy);

            const wskaznikPlynnosciGotowkowejUbiegly = ObliczWskaznikPlynnosciGotowkowej(bilansUbiegly);
            const wskaznikPlynnosciGotowkowejBiezacy = ObliczWskaznikPlynnosciGotowkowej(bilansBiezacy);

            const wskaznikRentownosciSprzedazyUbiegly = ObliczWskaznikRentownosciSprzedazy(rachunekUbiegly);
            const wskaznikRentownosciSprzedazyBiezacy = ObliczWskaznikRentownosciSprzedazy(rachunekBiezacy);

            const wskaznikRentownosciNettoSprzedazyUbiegly = ObliczWskaznikRentownosciSprzedazy(rachunekUbiegly);
            const wskaznikRentownosciNettoSprzedazyBiezacy = ObliczWskaznikRentownosciSprzedazy(rachunekBiezacy);

            const wskaznikRentownosciNettoKapitaluWlasnegoUbiegly = ObliczWskaznikRentownosciNettoKapitaluWlasnego(rachunekUbiegly, bilansUbiegly);
            const wskaznikRentownosciNettoKapitaluWlasnegoBiezacy = ObliczWskaznikRentownosciNettoKapitaluWlasnego(rachunekBiezacy, bilansBiezacy);

            const wskaznikOgolnegoZadluzeniaUbiegly = ObliczWskaznikOgolnegoZadluzenia(bilansUbiegly);
            const wskaznikOgolnegoZadluzeniaBiezacy = ObliczWskaznikOgolnegoZadluzenia(bilansBiezacy);

            const wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatkuUbiegly = ObliczWskaznikUdzialuKapitalowWlasnychWFinansowaniuMajataku(bilansUbiegly);
            const wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatkuBiezacy = ObliczWskaznikUdzialuKapitalowWlasnychWFinansowaniuMajataku(bilansBiezacy);

            const wskaznikZadluzeniaKapitaluWlasnegoUbiegly = ObliczWskaznikZadluzeniaKapitaluWlasnego(bilansUbiegly);
            const wskaznikZadluzeniaKapitaluWlasnegoBiezacy = ObliczWskaznikZadluzeniaKapitaluWlasnego(bilansBiezacy);

            WyzerujWykres();

            var chartsContext = document.createElement('canvas');
            chartsContext.id = "canvas";
            document.querySelector('.charts-section').appendChild(chartsContext);

            const chartData = {
                labels: [
                    'Wskaźnik płynności bieżącej',
                    'Wskaźnik płynności szybkiej',
                    'Wskaźnik płynności gotówkowej',
                    'Wskaźnik rentowności sprzedaży',
                    'Wskaźnik rentowności netto ze sprzedaży',
                    'Wskaźnik rentowności netto kapitału własnego',
                    'Wskaźnik ogólnego zadłużenia',
                    'Wskaźnik udziału kapitałów własnych w finansowaniu majątku',
                    'Wskaźnik zadłużenia kapitału własnego'
                ],
                datasets: [{
                    label: `Okres Rozliczeniowy: ${wybranyOkresPoczatkowyBilans}`,
                    data: [
                        wskaznikPlynnosciBiezacejUbiegly,
                        wskaznikPlynnosciSzybkiejUbiegly,
                        wskaznikPlynnosciGotowkowejUbiegly,
                        wskaznikRentownosciSprzedazyUbiegly,
                        wskaznikRentownosciNettoSprzedazyUbiegly,
                        wskaznikRentownosciNettoKapitaluWlasnegoUbiegly,
                        wskaznikOgolnegoZadluzeniaUbiegly,
						wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatkuUbiegly,
						wskaznikZadluzeniaKapitaluWlasnegoUbiegly
                    ],

                    fill: true,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgb(255, 99, 132)',
                    pointBackgroundColor: 'rgb(255, 99, 132)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgb(255, 99, 132)'
                }, {
                    label: `Okres Rozliczeniowy: ${wybranyOkresKoncowyBilans}`,
                    data: [
                        wskaznikPlynnosciBiezacejBiezacy,
                        wskaznikPlynnosciSzybkiejBiezacy,
                        wskaznikPlynnosciGotowkowejBiezacy,
                        wskaznikRentownosciSprzedazyBiezacy,
                        wskaznikRentownosciNettoSprzedazyBiezacy,
                        wskaznikRentownosciNettoKapitaluWlasnegoBiezacy,
                        wskaznikOgolnegoZadluzeniaBiezacy,
						wskaznikUdzialuKapitalowWlasnychWFinansowaniuMajatkuBiezacy,
                        wskaznikZadluzeniaKapitaluWlasnegoBiezacy
                    ],
                    fill: true,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgb(54, 162, 235)',
                    pointBackgroundColor: 'rgb(54, 162, 235)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgb(54, 162, 235)'
                }]
            };

            const myChart = new Chart(chartsContext, {
                type: 'radar',
                data: chartData,
                options: {
                    elements: {
                        line: {
                            borderWidth: 3
                        }
                    },
                    plugins: {
                        legend: {
                            labels: {
                                font: {
                                    size: 24
                                }
                            }
                        },
                        title: {
                            display: true,
                            text: "Zestawienie zbiorcze wskaźników",
                            font: {
                                size: 34
                            }
                        }
                    },
                    scales: {
                        r: {
                            pointLabels: {
                                font: {
                                    size: 16
                                }
                            }
                        }
                    }
                }
            });

            document.querySelector('.charts-section').style.display = 'block';

        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        GenerujStartoweSprawozdanie();
        WygenerujZestawienieZbiorcze();
	});
</script>